[2014-11-23 02:42] molszanski opened #1 "Loader crashes if there is a syntax error"
I am not sure if it is a bug or a feature.

But basically, if make a JS syntax error in file loaded via the worker-loader you will see some not-so-helpfull error.

![a](https://cloud.githubusercontent.com/assets/1117009/5156441/b1e7e326-72c2-11e4-9213-133b14079e05.png)

Other loaders point out a syntax error.

[2015-02-17 09:29] arypurnomoz opened #2 "[Feature] support `SharedWorker`"

[2015-03-17 20:21] gustafnk commented on #2
:+1:

[2015-03-19 12:37] sokra commented on #2
PR?

[2015-03-19 13:07] gustafnk commented on #2
Nope :(

But I actually think it will work OOTB if a configuration would be added so that https://github.com/webpack/worker-loader/blob/master/index.js#L40 could be parameterized to allow both SharedWorker and Worker.

I have a use case where I'm using a SharedWorker, so I can easily test when I get time.

[2015-04-28 23:45] revolunet commented on #1
same here :/

[2015-04-28 23:47] molszanski commented on #1
My quick midnight advice: fix the syntax with some linter and keep going.
On Apr 29, 2015 1:45 AM, "Julien Bouquillon" <notifications@github.com>
wrote:

[2015-04-29 00:54] revolunet commented on #1
@molszanski thanks but the problem is that when using webpack dev server, it crashes the process

[2015-04-29 01:49] molszanski commented on #1
I would guess, that the crash is caused by the wrong JS syntax in one of
your worker files. It should also break normal webpack build and most
browsers.

Try to load your worker module in a regular way and see what is the real
reason.
On Apr 29, 2015 2:54 AM, "Julien Bouquillon" <notifications@github.com>
wrote:

[2015-04-29 15:30] #1 closed

[2015-05-17 18:53] pahund opened #4 ""Script file not found" When Using worker-loader With Webpack Dev Server"
The worker loader works fine for me when I use webpack to create my distribution files.

When I use webpack dev server in hot reload mode, however, I get this error message on the browser console: _Script file not found: js/3a7e2f55336ef9a3d972.worker.js_

It seems that the script tries to load the worker bundle not from the dev server running on localhost:8080 (like the main bundle), but from the

[2015-05-18 19:49] pahund commented on #4
Ah, never mind, my bad, misconfiguration on my side.

[2015-05-18 19:49] #4 closed

[2015-06-18 16:48] dfoverdx opened #5 "Name worker chunk files"
I have two different workers.  The only way to distinguish the output files is to include `[hash]` which means my output directory gets flooded with old versions of my worker files.  It would be nice to be able to specify the name, or automatically pull it from the entry filename.

I wrote a quick workaround in index.js:

    // ...
    var workerCompiler = this._compilation.createChildCompiler("w

[2015-09-03 19:01] ianwalter commented on #5
:+1: Even if you don't have two workers, how do you specify the naming or replace the old files so that you don't have to keep manually deleting them every time you make a change to the worker file?

[2015-10-01 21:39] iMoses commented on #5
Furthermore, I eventually tried using the `inline` configuration to avoid dealing with the file's name, but for some reason, even though the worker *IS* used as an inline string, a file is still being created for the worker.

[2015-10-03 23:32] trusktr opened #6 "imports and stuff?"
Doesn't seem like this lets us import anything inside the worker. For example, in the worker, I'd like to do

[code]

Or did I miss how it works?

[2015-10-04 06:26] trusktr commented on #6
Yep, it works. It'd be nice to include this in the docs.

[2015-10-04 06:26] #6 closed

[2015-11-14 21:02] bvaughn opened #8 "Uncaught SecurityError: Failed to construct 'Worker': Script"
Apologies if I'm misunderstanding something obvious, but I'm unable to load a worker script with this loader. The error I'm getting is...

[code]

My code is basically the same as what's in the README:
[code]

My local application is running on port 3000 via `webpack-dev-server`. Any advice?

[2015-11-16 16:55] bvaughn commented on #8
Was able to get this working by changing my import to

[code]

[2015-11-16 16:55] #8 closed

[2015-11-20 18:14] sokra commented on #5
Not all browser support passing worker code inline to the Worker so a file is emitted in every case as fallback.

[2015-11-21 10:22] brunovandamme commented on #5
This is fixed with https://github.com/webpack/worker-loader/commit/b19200bcf3946db1d6de87ed41c1f5df1382cd7a. It is now possible to specify the name in the loader query.

[2015-11-21 20:24] #5 closed

[2015-11-21 23:27] benwiley4000 opened #10 "Error: Cannot find module 'worker!./[workername]'"
So I'm having some issues that are difficult to debug. I'm creating an npm module library to be used in a separate project that includes that module. So I've been building the module - it creates a bundle.js and a separate worker file with it in the build directory - then I run the project, and I don't get any errors, but it doesn't seem like the Worker is actually doing anything/receiving my mess

[2015-11-22 00:12] benwiley4000 commented on #10
By the way, this is a successful workaround that takes advantage inline workers (http://www.html5rocks.com/en/tutorials/workers/basics/#toc-inlineworkers), together with webpack's raw-loader (https://github.com/webpack/raw-loader), to allow the worker to exist in a separate file but then be packed in with the bundle.js.

[code]

[2015-12-04 13:44] opatut opened #11 "[Feature] support `ServiceWorker`"
Yes, I know, they are different things. **But**...
- ... [serviceworker-loader](https://github.com/markdalgleish/serviceworker-loader), is dead
- ... and it is basically a copy of an old version of this, with minor adjustments
- ... because most of the webpack code is the same for a service worker (emit a new file, allow instanciation), only the instanciation helper is different
- ... and they don

[2015-12-21 03:36] skratchdot opened #13 "window is undefined when creating worker-in-worker"
I created pull #12 to fix the issue I'm seeing.  Not sure if you want to pull it in or what.  All I did was wrap:

[code]

The issue popped up when I started creating inline workers inside of inline workers...

[2015-12-21 03:36] skratchdot commented on #13
@sokra - Adding you to this thread so you see it :)

[2015-12-21 03:54] skratchdot commented on #13
Actually, I closed #12 until I have more time to test.

[2016-02-08 16:07] Jabher opened #18 "[Feature] support `DedupePlugin`"
When using webpack.DedupePlugin, it is dropping lines like import 'babel-polyfill' if they are defined both in worker and in global scope.

[2016-02-19 16:04] sgrj opened #19 "Make worker cacheable"
Can the worker be made cacheable? I'm happy to create a pull request if it's possible.

[2016-02-26 16:37] drcmda opened #20 "Prevent file fallback for inline workers"
Can there be an option that prevents worker-loader from splitting extra files for inline workers? We build a single-output library that works with newer browsers which support webGL, so IE9 is out of the question anyway. We need this to be a single bundle and push it straight to bower from the /dist folder.

I explicitely request a blob by doing:

[code]

Worker-loader seems to acknowledge and add

[2016-04-03 21:40] atgillette opened #21 "Use in Cordova"
Hi,

Has anyone got web workers to work in a cordova context?  When I take a look at the js resources loaded into IOS app, I don't see a file for the web worker.

[2016-05-24 15:34] mrasoahaingo opened #23 "Error in Safari Mac OS"
Hello,

I got an error on the worker chunk file:

[code]

[code]

It works fine on Chrome and Firefox. These are the versions I use:
Node 5.6.0
Npm 3.8.8
Babel 6

"webpack": "^1.12.9"
"worker-loader": "^0.7.0"

In my code:

[code]

Thank you for your help

[2016-06-06 16:57] homerjam commented on #20
+1

[2016-06-23 14:44] Zacqary opened #26 "Loading workers doesn't work at all without inline mode"
I've only been able to get the Worker Loader to work in inline mode. Compiling worker files separately results in the worker immediately triggering its `onerror` event — except `event.message` is undefined. No code inside the worker's .js file appears to be executed. I've even tried commenting out the entirety of a worker file save for a single `console.log` statement, and this doesn't execute eit

[2016-07-28 23:32] abelnation commented on #26
I am having this same issue.

When not using inline, I have noted that instantiating the web worker results in a web request being made to the incorrect path.

webpack.config.js

[code]

build results in files:

- js/dist/bundle.js
- js/dist/bundle.js.map
- js/dist/[hash].worker.js
- js/dist/[hash].worker.js.map

but i see requests to my local web server for:

[code]

[2016-07-29 00:08] abelnation commented on #26
I was able to solve the issue by adding the following in my entry js file:

[code]

I tried setting `output.publicPath`, but that did not address the issue.

[2016-09-02 16:11] tjenkinson commented on #20
I've started a PR but am not sure on the final step
https://github.com/webpack/worker-loader/pull/28

[2016-10-06 18:45] boogerlad commented on #2
#32

[2016-10-07 14:38] Heedster commented on #20
@tjenkinson
I have forked your project and made modifications to tell webpack to not make that file
#33

[2016-10-07 20:33] tjenkinson commented on #20
:+1:

[2016-10-09 15:33] Heedster opened #34 ""extract-text-webpack-plugin" loader is used without the corresponding plugin"
[code]

[2016-10-26 00:21] nakedsushi commented on #10
I'm having this exact problem.

[code]

The `blah.worker.js` file is in the same directory as main.ts, but I still get:

[code]

[2016-10-29 19:50] kevzettler opened #35 "How to use with babel-loader ?"
I'm trying to use `worker-loader` with `babel` for es6 import support in web worker code. The readme says this is possible but I guess I need a better example.

I have the following setup in my `webpack.config.js`

[code]

This correctly produces a sepearte bundle file for the worker with a hash name like `d46f60b8e184bf8b1cb8.worker.js`

However this file is not run through the Babel transforms a

[2016-10-29 20:19] kevzettler commented on #35
sorry my babel setup was messed up

[2016-10-30 11:00] SpaceK33z commented on #35
Have you tried creating a `.babelrc` file next to your `webpack.config.js` file with the contents:

[code]

The `presets` option is not valid where you use it.

[2016-11-01 08:25] brucejcw opened #36 "Define output worker file path and name"
how to define? [example](https://github.com/webpack/webpack/blob/master/examples/web-worker/webpack.config.js) doesn't work

[2016-11-01 11:36] ducret201 opened #37 "webpack externals config is ignored"
In the worker dependencies, modules defined as [externals](https://webpack.github.io/docs/library-and-externals.html) are not found.

[2016-11-08 21:48] nakedsushi opened #39 "importScripts() only works when imported script is in root"
My angular2 app uses web workers and uses webpack for bundling.

My worker and its supporting scripts are in one directory (upload/).  The script that does the `require('worker!...')` is one directory up from (upload/).  In my worker script, I have an `importScripts('encoder.js')`, which I believe is the correct path since the worker and encoder.js are both in the same (upload/) directory.

My app

[2016-12-02 21:39] PendletonJones commented on #37
this is highly problematic for me. would love to hear more on this issue, in the mean time I will do more searching

[2016-12-13 17:36] zhanghaowx commented on #36
I am also very curious to learn how to do it correctly

[2017-01-09 18:31] mariotacke commented on #36
Did you ever figure out how to do this with webpack 1 without the inline option?

[2017-02-05 20:38] samvv opened #44 "Unable to require native modules when targeting node-webkit"
As the title says, it is not possible to import native node modules when setting `target` to `node-webkit`.

## Steps to reproduce

**test.worker.js**
[code]

**index.js**
[code]

**webpack.config.js**
[code]

## Actual result

[code]

## Expected behaviour

No errors. Require to native module is preserved.

[2017-02-05 22:42] samvv commented on #44
I created an issue in webpack/webpack#4212.

[2017-02-08 06:52] rahulgandhi opened #45 "[Bug] `importScripts` inside web worker loses context"
I'm facing a bug here.
I'm using worker-loader to load webworkers in my project. My web worker script uses importScripts to download other scripts and execute them. According to [](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers)

However, this is not what happens when I use worker-loader.

This is what happens.

[code]

This is what happens (expected) when I don

[2017-02-22 12:32] m-andrew-albright commented on #39
@nakedsushi

Did you ever figure out how to handle `importScripts()` for scripts not located at root?  I specifically have an npm package (xlsx.js) which includes a web worker for doing the heavy lifting, but the web worker script is using `importScripts()` to reference some of the package's dependencies that are included in the npm package, in the same `node_modules/xlsx` directory.

I was able t

[2017-02-22 13:24] m-andrew-albright commented on #39
@nakedsushi in your web worker, you need to change your `importScripts('dependency')` to `require('dependency')`.  Webpack seems to be able to resolve my dependencies when I did this.

[2017-02-22 20:58] nakedsushi commented on #39
@m-andrew-albright I ended up pointing to the relative path of my script, but your method works as well thanks!

[2017-02-22 20:58] #39 closed

[2017-03-11 01:18] zhanghaowx commented on #36
@mariotacke

        worker: {
            output: {
                filename: "developer/dist/[hash].worker.js",
            }
        }
should do the trick to put your worker file into the folder you want. However, you cannot use

    [name].worker.js
if you have more than one worker file. But you can watch https://github.com/webpack-contrib/worker-loader/pull/22 and hopefully it will get merged

[2017-03-13 21:48] tobek commented on #19
Maybe this was fixed since this issue was opened, but the worker should be cacheable by browsers, if that's what you mean. By default the worker script produced is named with a content-dependent hash in it (e.g. `2e9912589ce947ab1cf5.worker.js`).

If you override the output file name (e.g. `require('worker-loader?name=output-name.js!./source-file.js')`) then the hash is *not* included. However, yo

[2017-03-17 05:28] ea167 opened #54 "Multiple entries / output"
Hi,

Looking at the code, it looks like the loader does not manage the "entry:" directive inside the "worker:" directive of webpack.config.js, and that it takes by default entries[0] in runAsChild()

Is there a way for the loader to manage several worker files?

Thank you for any help!

[2017-03-17 09:00] TrySound commented on #54
@ea167 What do you mean "several"?
Every imported or required file with loader in pipe is processed correctly.
You may use this way
[code]
or customize config
[code]

[2017-03-18 19:50] GProst opened #55 "Cannot resolve node.js core modules in Webpack 2"
After I migrated from webpack 1 it started to throw following errors:

`Module not found: Error: Can't resolve 'path' in /absolute-file-path`

Modules, which cause errors are: `path`, `fs`, `vm`, `crypto` and `constants`

I've figured out that `webpack` can't resolve it only when it required from file, which was processed by `worker-loader`.

Tried to load it via `require(worker-loader!file-name.j

[2017-03-18 19:59] GProst commented on #55
I thought it could be because of [`nvm`](https://github.com/creationix/nvm) which I use, but I switched to system nodejs via `nvm use system` command and webpack still throws these errors.

I also thought it could be `target` property, so I changed it to `node`, but it didn't help too.

[2017-03-18 20:12] GProst commented on #44
#55

[2017-03-18 20:16] GProst commented on #55
It looks like it referenced to #44

[2017-03-19 20:55] TrySound commented on #55
@GProst Does it still work with webpack 1

[2017-03-19 22:30] GProst commented on #55
@TrySound it worked when I was on webpack 1, if that's what you asked

[2017-03-20 04:21] TrySound commented on #55
I mean current version of worker loader with webpack 1.

[2017-03-20 09:08] GProst commented on #55
@TrySound yep, I've just checked it. 0.8.0 version seems to work fine with webpack 1. Btw, updated up all of my loaders when migrated.

[2017-03-30 19:54] TrySound commented on #19
@renchap If you will find a solution I will be glad to accept it :)

[2017-03-31 08:28] renchap commented on #19
Unfortunately I have no idea what causes this, and I a quick glance has not helped, I am not very familiar with Webpack plugins internals. I was just trying to clarify the issue :)

[2017-03-31 22:01] JuHwon commented on #10
I am having this issue in my jest test runner :/
what can i do to solve this?

[2017-04-02 12:50] TrySound commented on #10
@JuHwon Jest uses node. Node doesn't know about `worker!` because it's webpack stuff. It means you didn't bundle something.

[2017-04-05 13:28] mdh-cc commented on #55
Hi,

I ran into the same problem today.  Any progress on this one so far?

[2017-04-05 15:25] TrySound commented on #55
@mdh-cc Not yet. I will be glad to accept a PR.

[2017-04-08 16:13] knee-cola opened #56 "Worker bundle contains first level deep dependencies"
When the worker code imports modules (first level) which import other modules (second level), then modules from second level are not included in the output worker bundle file.

Here's an illustration:
Worker.js -> import moduleA -> import moduleB

The **moduleA** will be included in the worker.bundle.js, while **moduleB** will not be included.

Is this the expected behaviour or an I doing somethin

[2017-04-08 16:27] TrySound commented on #56
@knee-cola I guess it's a bug. Would like to provide a test case?

[2017-04-08 19:39] knee-cola commented on #56
While trying to reproduce the issue I discovered that it works as expected. I misdiagnosed the problem.

[2017-04-08 19:39] #56 closed

[2017-04-09 04:23] d3viant0ne opened #57 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-12 14:26] steffanhalv commented on #35
@kevzettler Did you ever get this working with babel?

[2017-04-16 14:29] TrySound commented on #37
@ducret201 @PendletonJones Guys, how do you cosider to use externals with isolated worker environment?

[2017-04-20 05:57] michael-ciniawsky opened #62 "Standardize README"

[2017-04-20 08:09] TrySound commented on #62
@michael-ciniawsky Standard was changed again?:)

[2017-04-20 08:18] michael-ciniawsky commented on #62
@TrySound Not really just 'improved/moved on' nothing fancy or urgent just nitpicks here, I do it when I have time 😛

[2017-04-20 08:19] michael-ciniawsky commented on #62
It's mainly to be 'mostly accurate' since the README's are on the docs page :)

[2017-04-27 12:37] patoncrispy commented on #35
I am stuck on this too. Does anybody have a valid solution?

[2017-04-27 12:52] patoncrispy commented on #35
Got mine working. My rule is:

[code]

my .babelrc

[code]

I also have `import 'babel-polyfill'` at the start of my web worker. As you can see from my loader, all workers must have the suffix `worker.js`.

[2017-04-27 19:34] davydog187 opened #63 "Basic description of worker-loader's purpose"
I created an issue here https://github.com/webpack/webpack.js.org/issues/1161, but was asked to add to individual projects

I really love the documentation improvements that came with the new webpack 2 website. However, I find it frustrating that some of the promoted plugins/loaders on the webpack website do not have simple descriptions of their purpose.

For example, https://github.com/webpack-co

[2017-04-27 21:36] TrySound commented on #63
Hi. Good idea. I'll appreciate a pull request with docs improvements.

[2017-04-27 22:09] davydog187 commented on #63
I would love to @TrySound, but I'm still unsure of what `worker-loader`'s function is. Even after reading the example code, its hard to decipher what its purpose is.

Maybe here is a good place to discuss what the description could be?

[2017-04-28 05:23] TrySound commented on #35
@patoncrispy Thanks!

[2017-04-28 05:23] #35 closed

[2017-04-28 08:57] TrySound commented on #63
Yeah. Let's do this. Do you know what is web worker? It's a code which can be run in different thread to not lock main one with big computations.

So usually it can be run like this
[code]

But for this we should prepare worker.js and place it in folder near html.
worker-loader let's you just to import worker constructor and place it as usual chunk depending on configuration
[code]

Also there's i

[2017-04-28 19:54] kevzettler opened #64 "Missing documentation: How to handle messages from within worker?"
This is not immediately obvious from the docs and at the moment I'm not sure how to. I'm assuming there is some global variable available to the worker that can be accessed like `global.postMessage`

[2017-04-28 20:14] kevzettler commented on #35
Would be a good idea to add this to the documentation

[2017-04-28 21:52] TrySound commented on #35
@kevzettler I guess it can be in webpack documentation. It's just about using loaders in one pipeline, not special case for worker-loader

[2017-04-28 22:26] davydog187 commented on #63
Looks like this was addressed by #65. Thanks

[2017-04-28 22:26] #63 closed

[2017-04-29 14:09] #64 closed

[2017-05-03 14:06] TrySound opened #67 "[Feature] support `ModuleWorkers`"
https://html.spec.whatwg.org/multipage/workers.html#module-worker-example

[2017-05-08 15:51] tomlagier opened #68 "[DOCS] Interop with Typescript"
I'm not sure the best place for this, if it's a candidate for addition to the README.  Currently it's buried in the awesome-typescript-loader issues, and I'd love to get some more visibility as I spent a chunk of time trying to get it functional. This is how you can make the worker-loader function with Typescript 2+

**App.ts**
[code]

**typings/custom.d.ts**
[code]

[2017-05-08 15:51] tomlagier opened #69 "Document Interop with Typescript"
I'm not sure the best place for this, if it's a candidate for addition to the README.  Currently it's buried in the awesome-typescript-loader issues, and I'd love to get some more visibility as I spent a chunk of time trying to get it functional. This is how you can make the worker-loader function with Typescript 2+

**App.ts**
[code]

**typings/custom.d.ts**
[code]

[2017-05-08 15:51] #68 closed

[2017-05-09 16:33] hacker112 opened #70 "Can I get worker-loader to work with CommonsChunkPlugin?"
Before I used webpack I was able to share some common libs with main code and the worker through a separate file that was loaded on both sides.

I see that CommonsChunkPlugin separate libs from app code. When I use it I see that my main javascript file gets smaller but my worker file stays the same even though they both use common libs.

Is there any way I can get I can it to optimize the worker s

[2017-05-10 19:54] drcmda commented on #36
Couldn't it simply use the chunks pattern? Most configs already have:

    chunkFilename: 'build/chunk.[id].js',

The problem is that we distribute our lib, and this forces customers to add this stuff to their configs or otherwise the worker is dumped into the root folder with a random hashname.

[2017-05-10 20:06] drcmda opened #71 "worker-loader makes it very hard to distribute code"
Our main gripe is that it still insists spitting out a separate file, even if the inline option is set to true. This forces _everyone using the component_ to change their webpack configs:

    plugins: [
        new webpack.LoaderOptionsPlugin({
            options: {
                worker: {
                    output: { filename: 'build/worker.js' }
                }
            }
        }),

[2017-05-10 20:20] mariotacke commented on #71
I think #22 and #30 are trying to address it.

[2017-05-10 20:26] TrySound commented on #71
@drcmda If you will look in documentation you will find not only inline option but also fallback which prevents creating that file.
[code]

[2017-05-10 20:26] #71 closed

[2017-05-13 12:20] Zuzon commented on #55
any news?

[2017-05-13 12:36] evilebottnawi commented on #55
@Zuzon can your create minimal reproducible test repo?

[2017-05-13 15:49] Zuzon commented on #55
in my case:
webpack build target is 'node-webkit' and when i try to import 'path' module in worker

[2017-05-22 03:23] mikadev001 commented on #55
+1
(using electron)

main.js
[code]

example.worker.js
[code]

webpack config
[code]

Webpack output:
[code]

[2017-05-23 11:18] theoaks opened #72 "Browser Queries for Worker JS from wrong location"
I wrote my worker in typescript as below.

let QuoteWorker = require("worker-loader!./quote-worker");
let worker: Worker = new QuoteWorker();

My webpack.config.js dumps it's output to a directory called /dist

After compilation, the file is being queried from the site root directory (http://localhost/[hash].worker.js) instead of http://localhost/dist/[hash].worker.js which returns a 404 error.

[2017-05-23 13:05] theoaks commented on #72
I was able to resolve it by setting the output.publicPath property in webpack.config.js

https://webpack.js.org/guides/public-path/

[2017-05-23 13:05] #72 closed

[2017-05-24 11:48] Zuzon commented on #55
it's possible with nwjs since 0.18.4

[2017-05-25 19:12] barrytam20 opened #73 "prevent multiple workers from loading by detecting existing workers"
Is there a way to detect whether there already exists a worker that has been loaded?

Issue is that upon hot-reload, another worker gets loaded. I was thinking of adding some logic to only load a worker if one does not already exist

[2017-05-25 23:30] sathify opened #74 "Upgrade to webpack >= v2.0.0 causes output script to be larger"
We recently upgraded to `webpack2.5.1` which increased the bundle of worker.js script

[code]

Before,

[code]
We require like below,
[code]

Also upgraded to latest ```worker-loader@8.0.0```

Thoughts and pointers would be much appreciated.

[2017-05-30 09:09] lorem--ipsum commented on #69
THANK YOU!

[2017-06-07 04:35] alexburner commented on #69
This saved me too, thanks @tomlagier

[2017-06-14 13:12] vamcc commented on #37
I have lodash as one of my externals and want to use it in the isolated worker. Hope that [pr #42](https://github.com/webpack-contrib/worker-loader/pull/42) can be merged ASAP.

[2017-06-14 14:21] TrySound commented on #37
@vamcc You mean lodash is a global variable?

[2017-06-14 14:54] vamcc commented on #37
@TrySound Yes, lodash is a global variable in my project.

[2017-06-14 14:56] TrySound commented on #37
@vamcc As you said worker is isolated. This means you can't access to `window` from workers. So you can't use externals.

[2017-06-14 15:09] vamcc commented on #37
@TrySound So, will it work if externals are in a UMD mode?

[2017-06-14 15:15] TrySound commented on #37
Nope. Dependencies should be bundled with worker and be loaded via `importScript`.

[2017-06-14 15:22] vamcc commented on #37
@TrySound Worker-loader won't support externals?

[2017-06-14 15:32] TrySound commented on #37
@vamcc WebWorkers won't support window global variables. Parallel processes can't share non-functional code. Processes should be independent.

[2017-06-14 15:32] #37 closed

[2017-06-14 15:47] vamcc commented on #37
@TrySound Ok, thank you.

[2017-06-17 10:36] tranotheron commented on #70
👍

[2017-07-02 14:00] renchap opened #75 "Webpack 3.0 support"
The `peerDependancies` needs to be updated to allow Webpack 3.0.

After a `yarn upgrade webpack && yarn upgrade`, tests are not passing (same error for all):
[code]

I am not familiar enough with Webpack's internals to provide a fix.

[2017-07-03 21:09] FrogTheFrog commented on #55
Any news regarding this issue?

[2017-07-04 13:05] michael-ciniawsky commented on #11
#32

[2017-07-04 13:10] michael-ciniawsky commented on #23
@mrasoahaingo You still have this regression with `v0.8.0` of the loader ? Which Safari version ?

[2017-07-04 13:14] michael-ciniawsky commented on #69
@tomlagier Would you mind sending a PR fot this ? 🙃

[2017-07-04 13:47] michael-ciniawsky commented on #20
Is this resolved by [comment](https://github.com/webpack-contrib/worker-loader/issues/20#issuecomment-252269981) ?

[2017-07-04 13:52] michael-ciniawsky commented on #74
@sathify We need more info about your setup to triage this

[2017-07-04 13:54] michael-ciniawsky commented on #70
Could you try to give an example for that please?

[2017-07-04 14:11] michael-ciniawsky commented on #21
@atgillette Is this a general question about `WebWorker` support in a Cordova App or related to `worker-loader` in particular, if the first please use StackOverflow or the main brain (e.g Google) instead :)

[2017-07-04 14:14] michael-ciniawsky commented on #34
Does this `Error` only occur when importing the worker? Please show your `webpack.config.js`, normally this `Error` occurs, when `ExtractPlugin.extract()` is missing in `config.module.rules[i]`

[2017-07-04 14:16] michael-ciniawsky commented on #19
https://github.com/webpack-contrib/worker-loader/blob/master/index.js#L22 explicitly seems to disable caching,  the questions is if this is required for the loader to work correctly :) ?

[2017-07-04 14:28] TrySound commented on #20
I guess it's solved by fallback option

[2017-07-04 14:28] #20 closed

[2017-07-04 14:58] renchap commented on #19
Looks like it has been added for Webpack 2 compat here: https://github.com/webpack-contrib/worker-loader/pull/24 by @dtinth, and confirmed it is needed by @sokra.

From what I understand, it creates 2 visible effects:
- some additional output at each compilation
- as a new name is generated for each compilation, this creates a lot of extra files in the output directory

[2017-07-04 21:29] #69 closed

[2017-07-04 22:14] #44 closed

[2017-07-04 22:28] TrySound commented on #36
Name option should work now

[2017-07-04 22:28] #36 closed

[2017-07-05 09:23] hacker112 commented on #70
Absolutely!

Imagine that you are using lodash, bluebird etc. from a common file (common.js) and you need the libs in common.js in both "normal code" and "worker code". Before using webpack I could add common.js to my index.html file and import it in my worker with self.importScripts('common.js'); (https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/importScripts)

Since common.js w

[2017-07-07 18:38] mikegreiling commented on #75
this is blocking us from upgrading to webpack v3.1.0 🤞

[2017-07-12 14:25] the-spyke commented on #70
I have a similar question. I use `lodash` in both main chunk and web worker chunk. Right now it's bundled with both chunks. I assume that I need somehow to create a common chunk. How to configure this properly?

[2017-07-13 12:43] Reon90 commented on #75
When will it go to release version?

[2017-07-13 12:51] renchap commented on #75
Work is in progress in #81

[2017-07-17 12:38] Keyamoon opened #84 "0.8.1 causes build error with webpack 2. Downgrading to 0.8.0 solves it."
Thought to let you know that I was getting this error with webpack v2.6.1 and worker-loader v0.8.1:

[code]

Downgrading to 0.8.0 resolved the issue for me.

[2017-07-22 04:05] d3viant0ne commented on #84
@Keyamoon - Not entirely sure where that version is coming from as there is not tag in github though it exists on npm.

To that specific error. See this comment & associated commit: https://github.com/webpack-contrib/worker-loader/commit/7806d503433bee676070630c939bc923d6358775#commitcomment-23238510

The loader-utils upgrade is breaking & requires a semver Major. I'll get it fixed but for the tim

[2017-08-05 13:22] FranckFreiburger opened #86 "duplicate chunks"
I use PDF.js library that use a web worker for pdf rendering (pdf.worker.js).
PDF.js also has a fallback mode for browsers that does not support web workers (it just use `pdf.worker.js` without a web worker).

[code]
[source](https://github.com/mozilla/pdfjs-dist/blob/e5229d685258847bbbc98bac36cbda4e1bbb5445/webpack.js#L17-L26)

`build/pdf.js` also requires the `pdf.worker.js` as fallback
[code]
[

[2017-08-15 07:15] qbaty commented on #75
This blocks us too, But it's pr seems to be done very soon~

[2017-08-17 07:47] gund opened #88 "[Question] Get blob URL instead of worker instance"
I want to use this loader in Angular project to bootstrap application via `@angular/webworker-platform`.

And that API requires to pass a URL string and then angular itself will bootstrap and instantiate the worker.

So my question is can I somehow get just a blob URL of the worker script and not an object to call `new` on it?

Thanks

[2017-08-17 12:59] gund commented on #88
I found this feature [here](https://github.com/borisirota/webworkify-webpack) but I think we can still have it in this lib...

[2017-08-20 15:51] ernieturner opened #89 "Doesn't seem to honor externals configuration"
I have a project which uses this loader and emits two bundles, a main script and a worker script that should run in a web worker. Both of these scripts include a 3rd party library that deals with doing some crypto operations. These libraries have conditionals in them that deal with the Node crypto library and optionally attempt to run `require('crypto')`. I don't need the `crypto-browserify` plugi

[2017-08-21 09:45] TrySound commented on #89
@ernieturner Externals mean you use global variable. Web workers do not have access to global variables, so you should require that file directly or import with `importScripts` function

[2017-08-21 09:45] #89 closed

[2017-08-22 14:33] ernieturner commented on #89
I wasn't exactly trying to import the crypto library into my web worker, I was trying to get webpack to stop polyfilling the crypto stuff from node _into_ my web worker.

However, I think I figured out that I need to specify the `node` option in my webpack config, like so:

[code]

[2017-08-24 21:20] jnields commented on #70
I created an example of this problem [at this repo](https://github.com/jnields/worker-loader-example)

[2017-08-24 21:54] jnields opened #90 "Need to load modules from other chunks"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
When importing modules in a worker, all module code is included, whether or not other chunks define the module elsewhere, and whether or not CommonsChunkPlugin is used.

**If the current behavior is a bug, please provide the steps to reproduce.**
There is an example of the current behavio

[2017-08-28 13:30] Unforgiven-wanda opened #91 "Require is not defined: external "os""
Hello,
In my worker, when trying to use the "os" module I get the following error:
[code]
Even though the os module is installed and present in my node_modules folder.
Is there any way around this?

The thing is, my most expensive tasks rely on modules that in turn seem to rely on either "os" or "fs", so I'm pretty much stuck for now.
Thank you

[2017-08-30 12:39] phaattran commented on #10
@JuHwon Yeah like @TrySound said, you need to map all worker files to some mock in your moduleMapper in package.json like so:
[code]
Obviously you should have a `__mock__` folder with `workerMock.js` in it, it could be something like this:
[code]
This is more like a jest issue rather than a webpack issue.

[2017-08-31 13:32] peteringram0 commented on #10
Has anyone got a good solution for this?

[2017-09-08 16:11] nkovacs opened #92 "How do I minify the worker chunk?"
It seems I have to use LoaderOptionsPlugin to set `options.worker.plugins` (https://github.com/webpack-contrib/worker-loader/blob/v0.8.0/index.js#L42), but when I use that to add `new webpack.optimize.UglifyJsPlugin({})` to `options.worker.plugins`, I get this error:

[code]

I'm using webpack 3.5.6

LoaderOptionsPlugin config:

[code]

I tried with and without `context` in LoaderOptionsPlugin, it

[2017-09-12 12:10] nkovacs commented on #92
I was wrong. UglifyJsPlugin is applied to the child compilation, but uglifyjs throws an error, and that error isn't shown: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/v0.4.6/src/index.js#L211
Maybe the errors aren't propagated properly to the parent compilation?

The error is caused by a `let`. It looks like babel-loader did not transform the code. My loader config looks like t

[2017-09-12 12:41] nkovacs commented on #92
The order was wrong. Both of these work:

[code]

[code]

[2017-09-12 12:41] #92 closed

[2017-09-12 17:50] heyitsjames commented on #35
For anyone on a non-ejected instance of `create-react-app` (which means you can't edit the webpack config), I got this working like this:

`npm install worker-loader`
`npm install babel-polyfill`

in worker.js:

[code]

in the file that is importing `worker.js`:

`const Worker = require("worker-loader!./worker.js");`
`const myWorker = new Worker()`

Works great in IE11, which is the one that was c

[2017-09-13 07:32] Unforgiven-wanda commented on #91
For posterity, the problem was that I was working on an Electron app, and I had to add this tiny bit to my browserWindow:
[code]
It works now as intended.

[2017-09-13 07:32] #91 closed

[2017-09-14 16:14] Neutrino-Sunset commented on #8
The webpack documentation still suggests the approach that doesn't work.

https://webpack.js.org/loaders/worker-loader/

Could someone update it please?

[2017-09-15 19:51] nschwan94 commented on #10
I'm sure there's a few different workarounds here depending on the exact usage of the worker-loader import.

I unit test my method that instantiated a worker thread with these lines:
[code]

I simply moved them into a utility method `getWorkerThread` and then mocked that utility method with `jest.fn()` returning a mocked `constructor`, `postMessage`, and `addEventListener` method.

[code]

Now my

[2017-09-21 13:55] Neutrino-Sunset opened #94 "[Docs] Typescript Usage"
The documentation for worker-loader here

https://webpack.js.org/loaders/worker-loader/

Has a section at the end titled 'Integrating with Typescript'. That has sections showing how to create a typings/custom.d.ts file, and how to import into App.ts.

However it does not show how the web worker should be defined in Typescript.

Also the code in the other examples won't work in a Typescript file as

[2017-09-24 13:38] HillLiu commented on #75
Please release this one.

https://github.com/webpack-contrib/worker-loader/pull/85

[2017-10-09 19:49] ahutchings commented on #55
Can this be closed since #76 was merged and included in 1.0.0?

[2017-10-09 22:08] ahutchings commented on #75
What is the status of this issue - can it be closed? I see that #85 is merged and released in 1.0.0.

[2017-10-09 22:45] #75 closed

[2017-10-11 15:16] symbyte opened #95 "[Feature] support for ignoring modules"
We are using the following function in order to keep certain modules (generally platform specific dependancies like sqlite3) from being bundled into our webpack bundle which will cause any module in the array to be manually required instead:
[code]

When loading a worker that uses any of those modules directly or uses a module that uses them, webpack attempts to trace back these require statements

[2017-10-12 09:06] KimmoTukiainen opened #96 "[Bug] incorrect worker file paths"
I have an app at domain.com/subfolder/
I'm doing an inline import of a worker script in one of the files.
import * as MyWorker from "worker-loader!./myWorker";

The resulting file name what the browser is trying to load is:
http://domain.com/subfolder793f4dbaa1493689665f.worker.js

That is missing a trailing slash between the folder and the file name, so the file is not found. I tried figuring out

[2017-10-12 10:22] michael-ciniawsky commented on #96
Please provide your `webpack.comfig.js`  aswell

[2017-10-12 10:32] #84 closed

[2017-10-12 10:33] #10 closed

[2017-10-12 10:34] #13 closed

[2017-10-12 10:36] #19 closed

[2017-10-12 10:38] #21 closed

[2017-10-12 10:40] #55 closed

[2017-10-12 10:40] #23 closed

[2017-10-12 10:41] #54 closed

[2017-10-12 10:49] michael-ciniawsky commented on #86
Duplicate of #70

[2017-10-12 10:49] #86 closed

[2017-10-12 11:51] michael-ciniawsky commented on #26
Duplicate of #96

[2017-10-12 11:51] #26 closed

[2017-10-12 12:01] michael-ciniawsky commented on #74
Duplicate of #70

[2017-10-12 12:01] #74 closed

[2017-10-12 12:03] michael-ciniawsky commented on #90
Duplicate of #70

[2017-10-12 12:03] #90 closed

[2017-10-12 12:04] michael-ciniawsky commented on #95
See #60 😛

[2017-10-12 18:02] jnields commented on #96
Have you tried adding a trailing slash to your publicPath in the webpack config?

[2017-10-13 21:46] grind086 commented on #94
If it's any help, this is what I've been doing.

[code]

[code]

[code]

And then I import and use the worker like any other module

[code]

My actual implementation uses subclasses of `Worker` so I can add type safety to my events as well, but that might not be necessary for a basic usage example. The general idea is just that I use a custom event interface that extends `MessageEvent`, and set it

[2017-10-13 21:55] michael-ciniawsky commented on #94
@grind086 Mind spinning up a PR to add this example to the docs ?  Please as minimal && generic as possible and intead of `// src/index.ts` (Comment) =>

\**index.ts**
\```ts
\// Code here ...
\```

**index.ts**
[code]

[2017-10-13 23:13] qm3ster commented on #94
@grind086 Do you then use guard functions to differentiate between message types?
Do you use a string as type? Or shape of properties?

[2017-10-14 00:36] grind086 commented on #94
@qm3ster I use a string enum for types, but a regular enum would work just as well. Shape of properties would work too, but might require a bit more involved type checking than a simple switch. It also wouldn't let you differentiate between events that have the same shape, though depending on preference that isn't really necessary anyway. Here's a full example of my current setup:

First define al

[2017-10-14 09:48] #94 closed

[2017-10-14 11:40] #62 closed

[2017-10-14 21:54] qm3ster commented on #94
I see. Very similar to what I was doing. Enums might be the way to go, as differentiating by shape forced me to use "guard functions", it didn't just refine into a specific union member by doing `if (msg.property)` like it did in flow.

[2017-10-17 14:34] KimmoTukiainen commented on #96
Hey sorry for the slow response. There was nothing about worker-loader in webpack.config.js initially. We decided to take another route by not loading the file as inline, but by identifying those worker files with the suffix .worker.js

This configuration in webpack module rules solved the issue for me:

`{
                test: /\.worker\.js$/,
                use: [
                    {

[2017-10-19 07:48] fsx950223 opened #101 "[Question] Why this package is so hard to use"
When I use the loader, I get a lot of problems and there is nothing to say about them and no test. How can I use it like `window.Worker`

[2017-10-19 08:05] michael-ciniawsky commented on #101
Post the file where you `import` the `Worker` && your `webpack.config.js` please

[2017-10-19 10:13] fsx950223 commented on #101
[code]
I need to install loader-utils by myself
[code]
result: worker undefined

[2017-10-19 11:12] michael-ciniawsky commented on #101
[code]

Please ensure to have a clean install by `npm cache clean [--force*] && rm -rf node_modules`

[2017-10-20 16:37] bautistaaa opened #102 "change worker file path inline"
Hey guys,

Is there anyways to override the path inline? Or how I can fix it in the webpack config. Tried all the examples i the documentation with no luck.

I am using this angular 2 seed here. [https://github.com/UIUXEngineering/web-worker-in-ng](url)

We have to transpile the worker before angular so we use a separate webpack config [https://github.com/UIUXEngineering/web-worker-in-ng/blob/mast

[2017-10-20 21:48] bautistaaa commented on #102
eh I just forked it and overrode the public path in index js o.O

[2017-10-20 21:48] #102 closed

[2017-10-20 22:11] michael-ciniawsky commented on #102
There is #31 on master but unfortunately not released yet. Why not opening a PR in case you have  different need and it's a 'common' usecase instead of just forking the repo :) ?

[2017-10-21 01:11] #57 closed

[2017-10-21 02:37] bautistaaa commented on #102
let me find a better reusable way! I  literally just hardcoded a path haha

[2017-10-21 02:42] michael-ciniawsky commented on #102
Can you share the link so your repo or changed line at best, so I can check what you're after 🙃  ?

[2017-10-22 20:43] elliottsj opened #103 "Release v0.8.2 with updated peerDependency on webpack@^3.0.0"
I'm currently stuck on worker-loader@^0.8.0 due a combination of issues related to pdfjs-dist and npm shrinkwrap: https://github.com/mozilla/pdf.js/issues/9059

Would it be possible to release worker-loader@0.8.2 with just [this change](https://github.com/webpack-contrib/worker-loader/commit/f7e213233eba3ca6310bd6d46f7985858cbb3b99)?

I realize this would _technically_ be a breaking change since s

[2017-10-24 00:37] Swizec opened #104 "Weird install issues with latest 3 commits on master"
I have a strange issue and I think it can be fully resolved by an official release/update of `worker-loader`.

For my environment to work correctly I need this `publicPath` commit from last week: https://github.com/webpack-contrib/worker-loader/commit/96c6144d1aa32f599f41444fd24dc7d91028c1d7

I'm doing that by using this sort of package.json config:

[code]

But this commit from 3 days ago seems t

[2017-10-24 01:16] michael-ciniawsky commented on #104
Install from github directly doesn't work anymore after #81, since the repo boilerplate applied there builds the files on `prepublish` and doesn't provide the `src` files. This needs a release

cc @d3viant0ne

[2017-10-24 01:18] michael-ciniawsky commented on #103
Nope sry, this was a breaking change and is 'correct' from our side

[2017-10-24 01:18] #103 closed

[2017-10-24 01:19] michael-ciniawsky commented on #18
https://webpack.js.org/guides/migrating/#dedupeplugin-has-been-removed

[2017-10-24 01:19] #18 closed

[2017-10-24 01:20] d3viant0ne commented on #104
~30 minutes

[2017-10-24 01:27] #96 closed

[2017-10-24 01:29] michael-ciniawsky commented on #88
https://github.com/webpack-contrib/worker-loader#inline

[2017-10-24 01:29] #88 closed

[2017-10-24 01:35] michael-ciniawsky commented on #95
Could you try changing this line ([L61](https://github.com/webpack-contrib/worker-loader/blob/master/src/index.js#L61)) to

[code]

an try if that works ? 🙃

[2017-10-24 01:47] michael-ciniawsky commented on #70
[code]

[2017-10-24 02:09] d3viant0ne commented on #104
@Swizec - Available as `worker-loader@1.1.0`

[2017-10-24 02:11] michael-ciniawsky commented on #104
Yup 😛  released in [v1.1.0](https://github.com/webpack-contrib/worker-loader/releases/tag/v1.1.0)

[2017-10-24 02:11] #104 closed

[2017-10-24 09:02] Swizec commented on #104
Thanks @d3viant0ne and @michael-ciniawsky you're the best ❤️

[2017-10-24 13:24] symbyte commented on #95
Sadly it does not. Still have the above reported errors 😢

[2017-10-24 17:07] michael-ciniawsky commented on #95
hmm... ok then I need to investigate this further 🙃

[2017-10-24 17:07] michael-ciniawsky commented on #95
Would it be possible to spin a repo for reproduction ?

[2017-10-24 20:06] symbyte commented on #95
It may take me a few days, but I'll try to put something together!

[2017-10-29 16:41] symbyte commented on #95
Before creating a repo for reproduction, I wanted to do some investigation myself to see if I could find a way to add this (mostly because I've always wanted an excuse to learn more about how webpack loaders work). I learned a good bit, but I wanted to check some of my assumptions here and ask some questions.

One odd thing that I saw was that when using the IIFE shown above to create an externals

[2017-10-29 17:23] symbyte commented on #95
Just threw together a minimal reproduction repo here: https://github.com/symbyte/worker-loader-externals

[2017-11-06 13:39] roysudi commented on #70
@michael-ciniawsky , @d3viant0ne  -

I have a similar ask for my application. My web worker has to currently wrap rxjs, lodash etc for it's operations while I already have a vendor utility JS spit out by webpack.

Looking for some help/suggestions.

Thanks,
Suds

[2017-11-07 18:48] symbyte commented on #95
@michael-ciniawsky Do you have any ideas on the stuff I mentioned above?

[2017-11-10 15:41] Zane0816 opened #107 "When I load a worker.js using worker-loader in an electron project, I get an error: Path must be a string. Received undefined"
When I load a worker.js using worker-loader in an electron project, I get an error: Path must be a string. Received undefined
This error occurs because I introduced the 'ffi' library in worker.js
But I do not use the worker-loader, just copying worker.js into the project, it does not get any error
I think probably because of the path loading problem
But I can not solve it, even if I use the config

[2017-11-16 19:00] samuelcolvin opened #108 "Source maps not working for error traces"
Hi, I'm getting proper traces with non worker code. But with `*.worker.js` code I get raw trace on errors which are hard to read.

Is there someway to get worker-loader to play nicely with source-maps/devtools?

dependencies:
[code]

I'm using worker-load with non-ejected `create-react-app`, using [this](https://github.com/facebookincubator/create-react-app/issues/1277#issuecomment-313950613) code

[2017-11-20 22:28] mbrowne commented on #96
If anyone else encounters this, note that you can specify the public path using the inline syntax:

`import GraphqlWorker from 'worker-loader?publicPath=/!graphql/worker.js';`

I prefer the `worker-loader!` syntax because it makes it clearer that it's a special kind of import.

It would be nice if it were possible to specify default settings for a loader in webpack.config.js (for the publicPath se

[2017-11-22 10:28] Joban1992 opened #109 "Not able to set PublicPath in options object"
Hi,

I tried to change the file path using publicPath property of options object in webpack but it did not work.

**webpack.config.js**
[code]

Whenever I am defining publicPath property it is not even creating worker.[hash].js file otherwise it does. If anyone has idea, please help me. Thanks in advance

[2017-11-22 12:22] FezVrasta opened #110 "How can I use this to bundle a library?"
So, I found this question on SO:
https://stackoverflow.com/questions/42203665/webpack-worker-loader-how-to-make-it-work-as-a-dependency

But nobody ever replied. So I'm asking here to see if you guys have any insights.

I'd like to bundle my library and import it inside another webpack project.

Right now if I don't use the `inline` option the consumer app will not find the worker file (because I

[2017-11-22 15:29] dakom commented on #70
Fwiw the plugin works fine for me when using a shim like this:

[code]

A shim is necessary because the worker needs the bootstrapping code to be loaded first. In the main app this is done by simply importing via the webpage, but here the worker must import it (and hence the "worker", or in this case the shim, must already be loaded)

The bootstrapping code tries to use window instead of self, so

[2017-11-22 19:40] corytheboyd commented on #95
Just ran into a case where this would be very helpful. I am integrating a Worker into the background of a Chrome Extension, and am using a HMR library with a dependency on `window.chrome`, which is obviously absent from the Worker sandbox.

[2017-11-24 03:23] itfinally opened #111 "Not work in typescript 2.4"
Hello , in typescript 2.4, worker-loader 1.1.0, it not work.

I following the chapter of "Integrating with TypeScript" to write this file:
[code]

[code]

Oh, also i have the configuration in the tsconfig.json
[code]

But got this exception -> `TS1192: Module '"worker-loader!*"' has no default export.`
So how can i running this?

[2017-11-24 05:13] roysudi commented on #70
@dakom thanks for the response!
Would it be possible for you to copy/highlight the plain js code you mentioned?

[2017-11-24 07:01] dakom commented on #70
hi @roysudi - believe it or not, that snippet above is the entire plain js code :)

[2017-11-27 19:42] pconerly commented on #111
You need `export default WebpackWorker;` not `export = WebpackWorker;`

[2017-12-04 07:39] michael-ciniawsky commented on #107
I need more info about setup e.g could you maybe post the generate code here ?

[2017-12-04 07:43] michael-ciniawsky commented on #109
Could you provide a small reproducible repo ?

[2017-12-04 07:49] michael-ciniawsky commented on #110
I need more info about how in particular you intend to build the lib, for the SO question I think `options.publicPath` should work

[2017-12-04 07:50] michael-ciniawsky commented on #111
@itfinally See @pconerly comment @pconerly Thx 👍 Feel free to reopen if still regressions :)

[2017-12-04 07:50] #111 closed

[2017-12-04 07:56] FezVrasta commented on #110
How can public path work if I don't know what will be the public path? AFAIK you can't define a path relative to the webpack bundle

[2017-12-06 11:23] vikasraj789 opened #114 "Uncaught (in promise) DOMException: Failed to execute 'postMessage' on 'DedicatedWorkerGlobalScope': An object could not be cloned"
Package version: 1.1.0
This error comes up when I try to send new Objects from worker to Main thread.

[2017-12-06 12:34] evilebottnawi commented on #114
@vikasraj789 Thank for issue. See https://stackoverflow.com/questions/42376464/uncaught-domexception-failed-to-execute-postmessage-on-window-an-object-co.

[2017-12-06 12:34] #114 closed

[2017-12-19 19:08] timkendrick commented on #95
I was hitting this exact same problem in a custom loader I was writing. I think it's due to the fact that although the child compiler does inherit all its parent's options, it appears that not all of the parent's plugins are inherited.

From digging around a bit, it looks in a normal compilation the `externals` option is actually shorthand for applying an `ExternalsPlugin`, as seen [in `WebpackOpt

[2017-12-21 21:58] mikegreiling opened #115 "Errors do not propagate correctly"
When running webpack with `worker-loader`, we encountered an error in UglifyJs due to some es6 syntax that hadn't been transpiled by babel yet.  This issue isn't about the error itself, because that error is expected.

The problem is that this error did not cause webpack to exit with a status code indicating that it had failed.  Here's the end of the output of our webpack compilation:

[code]

`ec

[2017-12-28 04:30] mikegreiling commented on #115
looks like this may be an issue with webpack itself.  see: https://github.com/webpack/webpack/pull/6176

[2017-12-31 03:33] TCMiranda opened #116 "Support for prefetch"
As documented here[1] workers can be preloaded. Since woker-loader abstracts the file's "url" I can't tell the best way to preload the script.

What would be appropriate approach to handle prefetching?
Thanks

[1] [MDN Preloading content - The basics](https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content#The_basics)

[2018-01-02 18:29] nschwan94 commented on #95
@symbyte I appreciate you filing this issue. I'm in a position where I need to use the 'sqlite3' module in a Web Worker script. I followed along the posts of you and timkendrick pretty well, but wasn't able to get anything functional. Has there been any workaround established in the meanwhile? I'm having trouble understanding exactly the root of this issue, but I thought this would be feasible.

[2018-01-02 19:02] timkendrick commented on #95
@nschwan94 I might well be wrong, but I suspect sqlite relies on compiled native modules and therefore won't be able to be run outside a Node.js environment. If that's the case you won't be able to run it in the browser at all, never mind in a web worker…

[2018-01-05 22:32] nschwan94 commented on #95
@timkendrick thanks for the reply. I'm attempting this in an Electron app. The thought was to launch a few Web Workers that could each read/write from/to separate sqlite databases.

[2018-01-08 20:26] jwmann opened #117 "Named worker generates hashed file anyway? also output path not working"
This is how I'm importing my worker.
[code]

This is the output of `npm run build`:
[code]

Running on Webpack ^3.10.0

I'm also trying to output all these generated files (I have like 5 workers) inside their own `dist` folder or something but I can't for the life of me get it working. I've looked at #36 and saw [this](https://github.com/webpack/webpack/blob/master/examples/web-worker/webpack.conf

[2018-01-09 17:19] peteringram0 opened #118 "Filename ?"
Can you only specify a single output file name within the webpack.config? I load multiple workers and would like the ability to keep individual names on output.

Thanks.

[2018-01-10 00:04] jgable opened #119 "Emitted files cannot be included in manifests"
Repro Repo: https://github.com/jgable/worker-loader-manifest-example

Repro steps:

- `git clone git@github.com:jgable/worker-loader-manifest-example.git && cd worker-loader-manifest-example`
- `npm install && npm run example && cat public/javascripts/webpack-manifest.json`
   - There are a bunch of unnecessary dependencies but I wanted it to match our production environment as much as possible

W

[2018-01-10 15:59] jwmann commented on #117
So I solved this by removing my rule in webpack to look for my workers.

### Remove this
[code]

I realized that the import call it calling the worker-loader module itself and bypassing the webpack config, and then the webpack config will then look for those files as normal, regardless of the import.

I also was able to put them all in their own folder by adding a path before the name.
These are m

[2018-01-10 15:59] #117 closed

[2018-01-10 16:03] jwmann commented on #118
You can do this through the import declaration.
Though doing this may make you run into the same issue I had where if you're using the rule method to 'look' for your workers, it'll generate 2 files for each worker.

Here's an example of what you need, but check out my issue in #117 for more info.

[code]

[2018-01-10 16:35] peteringram0 commented on #118
Thanks that fixed my issue. No duplicate files being generated also :)

[2018-01-10 16:35] #118 closed

[2018-01-15 17:28] jwmann opened #120 "IE11 ES6 shim?"
My Web Workers work beautifully on every browser except for IE10-11
It's getting upset that I'm using ES6.
I'm trying to include an ES6 shim in my web worker like so:

[code]

But it seems to be ignored or something because it doesn't work. I tried `babel-polyfill` as well but no dice. Am I missing something?

[2018-01-15 17:43] evilebottnawi commented on #120
@jwmann worker have own context, you should `require` inside worker context - i.e. look https://github.com/webpack-contrib/worker-loader#config inside `file.worker.js`

[2018-01-15 17:52] jwmann commented on #120
@evilebottnawi That's exactly where this code is from. My worker.

[2018-01-15 17:56] evilebottnawi commented on #120
@jwmann hm, should be work, can you create minimum reproducible test repo?

[2018-01-15 19:17] jwmann commented on #120
I managed to solve this in a different way.
I don't need the `es6-shim` at all if I pass it through `babel-loader` in my `import`

[code]

Adding `!babel-loader` fixed it.

[2018-01-15 19:17] #120 closed

[2018-01-22 00:22] richdyang commented on #108
+1

[2018-01-26 17:04] jwmann opened #122 "watchOptions.ignored doesn't work with imports with inline loaders?"
This is inside my `webpack.config.js`
[code]

These are my imports
[code]

Yet watch is constantly building them.

[2018-02-06 09:44] Melmoth-the-Wanderer opened #123 "[FIXED] Options (name/publicPath) doesn't work with Typescript and Webpack 3 config file"
I'm Using Webpack 3.10.0, Typescript 2.6.2, worker-loader 1.1.0.
**webpack.config**
[code]
**App.ts:**
[code]
**Worker.ts:**
[code]

It compiles, but the file is outputted under  `f88912265db2b5d37cdb.worker.js` filename, and the path doesn't include `/scripts/` part.

I've tried to change import statement to include options as params as follows (based on #117 )
**App.ts:**
[code]
**Above import t

[2018-02-06 10:02] Melmoth-the-Wanderer commented on #123
**Fixed**
For anyone reading this, #117 DO fixes the problem.
Just make sure to have your definition file up to date with import statement:

**App.ts**
[code]

**workers/index.d.ts**
[code]

To be closed, sorry about that.

[2018-02-06 10:03] #123 closed

[2018-02-16 16:11] Dinfyru commented on #45
+1

[2018-02-17 09:28] Dinfyru opened #124 "self.postMessage doesn't work if error"
version 1.1.0
safari v9
[code]
worker.js:
[code]
`self.postMessage('publicKey1');` work
`self.postMessage('publicKey2');` doesn't work
`self.postMessage(e);` doesn't work too

[2018-02-17 10:48] #124 closed

[2018-02-18 08:25] duan602728596 opened #125 "Cannot read property 'context' of undefined"
When I use webpack (version: 4.0.0-beta.2) and worker-loader (version: next), it has an error:
[code]
I found the error here: [https://github.com/webpack-contrib/worker-loader/blob/next/src/index.js#L40](https://github.com/webpack-contrib/worker-loader/blob/next/src/index.js#L40)

I found that the code changed from
[code]
to
[code]
It is no problem.

[2018-02-18 18:30] michael-ciniawsky commented on #125
`webpack` v4.0.0 changed `this.context` => `this.rootContext`

[code]

should work. PR welcome :)

[2018-02-19 16:13] AndersDJohnson commented on #109
I get:
[code]

With simply this:
[code]

[2018-02-20 12:59] mikehardenize opened #126 ""[hash]" in publicPath"
Hi. This is a feature request. I'd like to be able to use `[hash]` in publicPath, so I can do:

[code]

I know I can use it in "name", but then the filename changes every time I modify the file, and I don't want to commit a brand new file to git on each change.

I want to use it in publicPath for caching reasons. We map HTTP requests for `/cache-ANYTHING/js/` to `/js/` so we can set long cache hea

[2018-02-20 17:00] mikehardenize commented on #108
I am also experiencing this issue

[2018-02-20 23:59] mikehardenize opened #127 "Every worker receives every message"
Given the following code, both message handlers in the workers receive both postMessages... This seems wrong to me?

[code]

I could pass a "worker id" along with the postMessage, and then in the message handler, I could check to make sure that the worker id matches and ignore if not, but I feel like this should be abstracted away.

[2018-02-25 02:40] michael-ciniawsky commented on #125
Fixed by #128 , released in [`v1.1.1`](https://github.com/webpack-contrib/worker-loader/releases/tag/v1.1.1) 🎉

[2018-02-25 02:40] #125 closed

[2018-02-26 13:32] fredley opened #129 "TypeError: Cannot read property 'outputOptions' of undefined"
[TS 2.6.2, webpack 4.0.0, worker-loader 1.1.1]

**App.ts**

```import WorkerOne = require("worker-loader?inline!./workers/WorkerOne")```

**Elsewhere.ts**

```import WorkerTwo = require("worker-loader?inline!./workers/WorkerTwo")```

**custom.d.ts**

[code]

I have nothing related to `worker-loader` in `webpack.config.json`. My worker files are simply called WorkerOne.ts and WorkerTwo.ts.

When I

[2018-03-05 08:04] wizardnet972 opened #132 "lodash is in the worker bundle and vendor"
When I import lodash into the worker file, it is exist in the worker bundle and vendor bundle.

It is need to exist only in vendor.

some.worker.js:
[code]

webpack.config.js:
[code]

[2018-03-06 08:25] yamass commented on #129
Same here with TypeScript 2.7.2, webpack 3.11.0 and worker-loader 1.1.1

Works with worker-loader 1.1.0.

[2018-03-06 10:09] AlexDel opened #134 "TypeError: Cannot read property 'source' of undefined"
[ webpack 4.1.0, worker-loader 1.1.1]

**myService.js**
`import Worker from './summary.worker';`

**webpack.config.js**
`{
     test: /\.worker\.js$/,
     use: { loader: 'worker-loader' }
  }`

On trying to build console emits this:

[code]

[2018-03-06 10:44] AlexDel commented on #134
It appeard that some some part of code contained inline requiring with loader, like this:

`import Worker from 'worker-loader!./pack.worker'; `

After removing 'worker-loader!' bundle seems to be built.

[2018-03-09 16:10] kappaj opened #135 "Webpack can't handle worker files when running tests"
Im trying to setup an Angular project with Worker Loader. I am able to run the app but failed at running karma! Here is my approach:

1. Created project with `ng new webpack-worker-loader-karma` -> `ng serve` and `ng test` works
2. Added webpack `worker-loader` to project `npm i -D worker-loader`
3. Created worker typescript file `src/app/simple-loader.ts`
4. Created worker type definitions in `sr

[2018-03-16 23:44] agirault commented on #45
+1

[2018-03-20 09:16] akuznetsov-gridgain commented on #134
+1 I also need this fix.

[2018-03-20 20:50] flq commented on #94
So, really, I'm not getting this to fly at all and the only thing I can come up with that could be different is the webpack.config - how does it look like in the simple scenario outlined in this issue?

[2018-03-21 02:47] griest024 opened #136 "DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin directly instead"
worker-loader@1.1.1
node@9.8.0
Win@8.1

[2018-03-22 03:06] huy-nguyen commented on #134
@AlexDel I got the same error with the same call stack but didn't use `eslint-loader`. I'm on `webpack` 4.2.0 and `worker-loader` 1.1.1.

[2018-03-29 13:43] giuseppeg commented on #26
@michael-ciniawsky I am experiencing a similar issue to @abelnation's. Where I get a 404 even when I set  `__webpack_public_path__` in my entry module.

My webpack conf looks like this:

[code]

and I import the worker like this:

[code]

Should webpack emit `c59704cab25e47f1681a.worker.js` or the worker is bundled in `app`? I can see that it is emitting the source maps for it `c59704cab25e47f1681

[2018-03-29 15:09] giuseppeg commented on #26
silly me I guess I just needed to emit the file :)

[code]

[code]

[2018-04-06 08:22] TerryHibbert opened #138 "TypeScript worker fails to compile with Angular 5.2.0"
Loading a _.js_ worker loads and works well in my TypeScript Angular project.
    import Worker = require('worker-loader!./worker.js');

But I can't get the example _.ts_ file working:
_webpack: Failed to compile._

Unfortunately there's no more info with the error. Any ideas where I've gone wrong?

[2018-04-16 14:37] caitlin615 commented on #45
Still an issue. Any ideas on a fix?

[2018-04-19 16:08] badman-rodriguez opened #139 "[Question] on TypeError: Failed to execute 'postMessage' issue:"
- webpack 3.8.1
- latest worker-loader version

I get this error when trying to use the worker through webpack:

`Uncaught TypeError: Failed to execute 'postMessage' on 'Window': 2 arguments required, but only 1 present.`

I console out what the object is:
[code]

While, outside of webpack loader on a differen project, it works fine and i console out the project and it says:
[code]

So what am i d

[2018-04-23 14:39] #136 closed

[2018-04-24 16:00] Narvey commented on #67
Yuck, so the readme says to do this, but you actually can't yet?

[2018-04-25 18:24] melloc01 opened #141 "[Question] Multiple requests & number of threads"
Hello,

I am using `worker-loader` to make some calculations on large amount of data  that comes from my back-end per `chart` on a dashboard. This means I am actually making:
[code]
on every chart of the dashboard. Some dashboards may contain 50~ish charts, which brings me here:

1. Those 50 charts instantiating `Worker` would cause **50 network hits**? btw.: I am using service workers.
2. Is ther

[2018-04-25 19:41] melloc01 opened #142 "Window is not defined - when using hotModuleReplacementPlugin"
In the [docs](https://webpack.js.org/plugins/hot-module-replacement-plugin/) there's not regexp to ignore modules with filename patterns like `/\.worker\.js$/`, this could be a solution.

Compilation output, in the 2nd line of the output window is being accessed:

[code]

[2018-05-01 19:27] lilbumblebear commented on #142
I also ran into this issue, I used the following workaround in webpack.config.js,  **globalObject: 'this'**

example:

    output: {
       path: path.join(__dirname, 'dist'),
       filename: 'bundle.js'
       publicPath: 'http://localhost:3000',
       globalObject: 'this'
      },

Source https://github.com/webpack/webpack/issues/6642

[2018-05-02 13:26] melloc01 commented on #142
Cool, thanks @lilbumblebear

[2018-05-02 13:26] #142 closed

[2018-05-02 16:24] gpolyn commented on #141
@melloc01 I've read about a distinction between "physical" threads and "software" threads, such that creating many web workers may result in more software threads than available physical threads.

So, a developer may wish to mind the user's hardware utilization and create fewer or no more than the available number of physical threads, e.g., https://github.com/josdejong/workerpool/blob/master/lib/P

[2018-05-03 09:13] Kuzirashi commented on #10
I'd like to emphasize that @phaattran solution works. Check it out.

[2018-05-04 23:06] itsybitesyspider opened #144 "worker-loader seems to inject web assembly binary contents directly into JavaScript output bundle"
[wasm-loader-problem.tar.gz](https://github.com/webpack-contrib/worker-loader/files/1976088/wasm-loader-problem.tar.gz)

Attached an example project. You can run it using npm install followed by npm build or npm start. The web assembly is pre-built for you, but if you want to build it yourself using a rust toolchain, you can do so using the included Makefile.

I can load and execute a simple web a

[2018-05-06 16:15] kevrat commented on #45
+1

[2018-05-06 16:16] evilebottnawi commented on #45
PR welcome :+1:

[2018-05-06 16:38] rahulgandhi commented on #45
@evilebottnawi I can pick it up if someone can give me some pointers.

[2018-05-06 17:26] webpack-bot opened #145 "importScripts inside web worker loses context when using worker-loader"
I'm facing a bug here.
I'm using worker-loader to load webworkers in my project. My web worker script uses importScripts to download other scripts and execute them. According to [](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers)

However, this is not what happens when I use worker-loader.

This is what happens.

[code]

This is what happens (expected) when I don

[2018-05-06 17:27] evilebottnawi commented on #145
Duplicate https://github.com/webpack-contrib/worker-loader/issues/45?
/cc @rahulgandhi

[2018-05-06 17:33] rahulgandhi commented on #145
@evilebottnawi Sean had asked me put an issue on both.

[2018-05-06 17:39] evilebottnawi commented on #145
@rahulgandhi let's try to solve here, if it is impossible reopen issue in webpack?

[2018-05-06 17:40] evilebottnawi commented on #45
Original issue ref https://github.com/webpack/webpack/issues/4234

[2018-05-08 02:50] #101 closed

[2018-05-12 03:15] dmitrymatveev opened #146 "[Question] Spawning sub workers"
Hi,

I am attempting to import and instantiate a sub worker from inside my main worker, however I am getting an error. I am not intimately familiar with webpack internals or the way worker-loader do things so I am at a loss about how I can go around fixing this problem.

_main.ts_
[code]

_main.worker.ts_
[code]

_sub.worker.ts_
[code]

There error I am getting is undefined Worker constructor as f

[2018-05-14 02:55] anggaramp opened #147 "Freemarker template engine cannot use <#list> or <#if>"
in my test.ftl <#list > or <#if> become to comment is failed to running the array data so i cant view my data.
 **this is my test.ftl:**

[code]

and this is my webpack.config.js

[code]

[2018-05-14 21:27] mikegreiling commented on #115
This was fixed by https://github.com/webpack/webpack/pull/6176

[2018-05-14 21:27] #115 closed

[2018-05-16 08:52] Manc commented on #134
If anybody comes across this in the future – this is what caused the problem for me and a solution.

I set the `name` option to `w.[contenthash:8].js`, which caused the error from above, but only when I ran Webpack in *development* mode (*production* mode was fine).

My solution:

	use: [
		{
			loader: 'worker-loader',
			name: isDev ? 'w.[hash].js' : 'w.[contenthash:8].js',
		},
	]

Or simply us

[2018-05-21 18:25] tryzniak opened #148 ""Deprication warning: Tapable.apply is deprecated. Call apply on the plugin directly instead" is shown when running webpack's tests"
Hello. I think I spotted something odd. I noticed that when running webpack's there's a deprecation warning log out which should have probably been fixed in 04bc4ffc5fd537072718eb9401107b32c9418b6b.

Node version: 8.9.4
webpack version: HEAD/master, commit 360503587ecb1
worker-loader version: ^1.1.1

[2018-05-22 07:38] shellscape commented on #148
Please don't ignore or remove issue templates. It's poor form. This was already fixed and is awaiting publish.

[2018-05-22 07:38] #148 closed

[2018-05-23 02:52] subhranshudas opened #149 "How to use it with Create React App"
Question - How to use worker loader with Create React App? Tried ejecting the CRA and putting webpack loader but i get something like -

[code]

version- "worker-loader": "^1.1.1"

[2018-05-23 10:39] evilebottnawi commented on #149
@subhranshudas please create this question inside `Create React App` repo. Thanks!

[2018-05-23 10:39] #149 closed

[2018-05-23 14:45] subhranshudas commented on #149
@evilebottnawi thanks for the reply.

Have also created there one - https://github.com/facebook/create-react-app/issues/4505

They have it in their backlog - https://github.com/facebook/create-react-app/pull/3934
But thats for non-ejected setup which comes out of the box which is yet to be merged.

I am also trying for a ejected set up as well.
Typically `worker-loader` works for me in a normal we

[2018-05-23 14:59] evilebottnawi commented on #149
@subhranshudas no, we don't have standard procedure to integrate with CRA. A lot of boilerplates and CLIs build on webpack, we can't documented this in own README, it is should be done inside boilerplate docs.

[2018-05-23 16:22] subhranshudas commented on #149
@evilebottnawi thanks for the reply, btw if you would be interested to know, the following is what i tried with
https://github.com/facebook/create-react-app/issues/4505#issuecomment-391409030

[2018-05-27 09:14] LucaT1 commented on #146
Subworkers are still not supported in major browsers nowadays (the only one I know does is firefox). But you can easily implement that with this simple polyfill: [dmihal/Subworkers](https://github.com/dmihal/Subworkers)

[2018-05-27 16:08] shellscape commented on #146
Sorry, but the issue template pretty clearly states that this is not the correct place for support questions:

You can also use the webpack gitter @ https://gitter.im/webpack/webpack. Feel free to continue discussion, but we're closing this one.

[2018-05-27 16:08] #146 closed

[2018-05-29 08:53] zjy01 commented on #129
still happend at `webpack@4.10.0` , `worker-loader@2.0.0`

[2018-05-29 11:17] shellscape commented on #129
@fredley @yamass @zjy01 I don't mean to be disrespectful in the slightest, but this is kind of debugging 101. My first stop was to search this repo for `outputOptions` just in case something was confusing webpack, which [returned no results](https://github.com/webpack-contrib/worker-loader/search?q=outputOptions&unscoped_q=outputOptions). Since nothing was returned, I examined the stack trace post

[2018-05-29 11:26] fredley commented on #129
@shellscape Sorry, my bad. Upon a quick scan I saw `webpack/lib/webworker`, and that went into my head as `worker-loader`. It seems there's [an issue](https://github.com/webpack/webpack/issues/6792) on webpack already that seems similar, I'll add this as an example.

[2018-05-29 11:28] shellscape commented on #129
@fredley no worries. should we close this one?

[2018-05-29 11:30] fredley commented on #129
@shellscape It looks like it, although it seems that until webpack itself fixes the underlying problem, worker-loader will be incompatible with 4.0.0+.

[2018-05-29 11:33] shellscape commented on #129
OK we'll leave it open then as kind of a waystation for people looking for the cause.

[2018-05-30 18:50] timbru31 commented on #138
I'm facing the same issue - any news @TerryHibbert ?

[2018-05-30 20:32] shellscape commented on #138
From the issue template:

Give that or the webpack gitter a shot folks: https://gitter.im/webpack/webpack

[2018-05-30 20:32] #138 closed

[2018-06-04 12:12] dakom commented on #94
The main docs did _not_ work for me - but @grind086 's solution does!

Specifically, this fails (from the Readme):

[code]

And this works:

[code]

Using `import` _and_ `require` feels awkward... can someone please explain what's going on? :)

Also - I ended up just casting the worker to any like `const worker:Worker = new (MyWorker as any)();`, which isn't the end of the world... but just puttin

[2018-06-04 12:39] density215 opened #150 "global scope"

[2018-06-04 12:39] #150 closed

[2018-06-05 16:14] grind086 commented on #94
@dakom - That's because apparently someone changed the official docs without understanding why they were the way they were. When you have a module that exports a single object (ie `module.exports = ...`) you import it with `import ... = require('...')`. This is the code structure worker-loader uses, and the updated docs are incorrect.

[2018-06-06 13:19] HowardOhMyGod commented on #139
I have the same issue.

[code]

[2018-06-18 16:07] amirsimhi commented on #110
any updates about this issue? I'm facing the same problem

[2018-06-18 16:33] FezVrasta commented on #110
No news unfortunately

[2018-06-18 16:53] shellscape commented on #110
@amirsimhi if you don't see any new activity in the issue thread, then there has been no updates. please don't pollute an issue thread by posting questions of that type. it does not contribute to the issue nor the discussion.

[2018-06-28 16:00] romanlex opened #154 "Failed to construct 'Worker': Script at ... cannot be accessed from origin ..."
Hello, my web-worker doesn't load in production when use different servers for app and assets
`
16.8e953915c614.js:1 Uncaught DOMException: Failed to construct 'Worker': Script at 'https://assets.domain.ru/assets/43ec99c0a496c8cc2afe.worker.js' cannot be accessed from origin 'https://domain.ru'.
`

I'm import worker in my webpack chunk and use worker-loader
```import Worker from './generator.worke

[2018-06-28 16:08] evilebottnawi commented on #154
@romanlex Using https://developer.mozilla.org/ru/docs/Web/HTTP/CORS

[2018-06-29 11:23] romanlex opened #155 "File of worker doesn't exist in webpack stats"
Why worker file doesn't exists in webpack stats
I don't see this file in WebpackBundleAnalyzer

[2018-06-29 11:38] evilebottnawi commented on #155
Close in favor https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/193

[2018-06-29 11:38] #155 closed

[2018-06-29 12:50] romanlex commented on #154
@evilebottnawi you mean what I need add cors headers on my assets servers?

[2018-06-29 13:08] evilebottnawi commented on #154
@romanlex yep

[2018-06-29 15:31] romanlex commented on #154
CORS is enabled on assets servers but it is doesn't help
May be I can use dynamic import and load with function
[code]
But with this I need get blob of file

[2018-07-01 16:13] cars10 commented on #144
+1, same problem

[2018-07-02 12:50] clanehin commented on #144
@cars10 I dealt with it by using a separate entry point for the for the web-worker. Webpack can load wasm correctly, just not via worker-loader.

[2018-07-18 06:50] aleskozina commented on #139
Hey Dude!

I was struggling, too.
But i made it. I always got the same error as you when i used it with typescript.
In the end it was just try and error (for me).

But i want to show you what actually my fault was:

Webpack worker-loader:
[code]
*ucking Regex ;-) I just copy pasted it from the doku and did not realize that the dot before `worker` in `test: /\.worker\.js$/,` was escaped. So i chang

[2018-07-22 13:19] otakustay opened #156 "Dynamic name for output file"
Currently `worker-loader` supports a `name` option to specify the name of worker file, however in many projects only a single `worker-loader` serves all worker files, such like:

[code]

If the `name` options can be a function receiving some compilation context, the name of output file can be beautified:

[code]

Is it even possible to have this feature?

[2018-07-27 06:29] bububo opened #157 "Inline option doesn't work with IE11"
Hello.
Using `inline: true` I've got a syntax error:
_Failed to open blob:F346C061-E14F-49A6-9C95-6AF09AF95357_

As I understood after quick googling IE11 doesn't support regular blob and has own API for opening blob.

Thanks

[2018-08-13 04:18] dwalintukan opened #158 "CORS issue with Chrome Extension + worker-loader"
Node: 9.3.0
OS: Mac OS High Sierra 10.13.6

Long story short, I have a Chrome extension that has some cryptography intense logic that I need to offset to a Worker. The background script is trying to initialize the Worker but I am getting a `CORS error`. I have follow the instructions, but to on avail.

I have also tried to use the `publicPath` option, but when I try to build with webpack it freeze

[2018-08-13 16:33] sizeak commented on #11
Is this in master yet?

[2018-08-24 10:27] gabberr commented on #157
As i understand, the up-to-date IE 11 supports it.
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/11673552-support-web-worker-creation-via-blob-urls

Try to run it without the inline option, maybe you get some other more descriptive error.

[2018-08-24 10:37] gabberr commented on #132
Web workers global scope is different from the window global scope.

When your 'vendor.js' is loaded, it adds lodash  to to window object. Web worker does not have access to it.

[2018-08-24 10:44] gabberr commented on #156
How about the [name] token ? It is not documented but it works.
`{
 name: 'workers/[name].[hash].js'
}'
`

[2018-08-25 03:05] otakustay commented on #156
Yes, `[name]` token solves the issue, thanks

[2018-08-25 03:05] #156 closed

[2018-09-20 22:30] adamzerner opened #160 "Issue when trying to cache xxx.worker.js files"
worker-loader version: 1.1.1
Node version: 8.9.1
OS: Mac OSX

I've been having an issue with https://stackoverflow.com/questions/52265855/service-worker-wont-install-when-i-try-to-cache-xxx-worker-js for a while. I'm not sure if the issue is with `worker-loader` or not, but in looking through the issues and pull requests here, I got the impression that `worker-loader` can behave weirdly when tryin

[2018-09-21 06:29] dakom commented on #144
@clanehin - do you mind sharing how you've done multiple entry points for workers, in webpack4 ?

I've posted a similar question to Stackoverflow here: https://stackoverflow.com/questions/52437858/multiple-targets-per-entry-in-webpack-4

[2018-09-21 06:31] cars10 commented on #144
@dakom after playing around with the issue i created an example repo showing how to use wasm + workers + webpack together, maybe that will help you.
https://github.com/cars10/rust-wasm-webworker-example

[2018-09-21 06:38] dakom commented on #144
thanks! though I see you're loading the wasm directly... I believe wasm-bindgen requires using its own generated js?

[2018-09-21 06:46] cars10 commented on #144
I am not sure TBH - though the example in this project works if you try it out.

[2018-09-21 10:59] xtuc commented on #144
Why is the binary inject into the ouput JS? Our implementation of WebAssembly in Webpack uses `WebAssembly.instantiateStreaming`, I guess we could have the same support here?

[2018-09-21 11:03] cars10 commented on #144
Is it though? I also use `instantiateStreaming`, see https://github.com/cars10/rust-wasm-webworker-example/blob/master/src/js/worker.js#L3 .

[2018-09-21 20:10] clanehin commented on #144
@dakom, I'm using webpack 4 with wasm-bindgen, and it goes just fine day-to-day even though it was time consuming to figure out the first time due to poor error messages. You can provide an array of configurations. However, a critical insight for me was that the different configurations in the array can stomp on each other's output, and this will result in extremely difficult-to-diagnose errors. Y

[2018-09-24 04:41] nkbt opened #161 "Allow to use function as publicPath"
Webpack has added support to use use function as `publicPath` quite a while ago, it would probably be good to match this functionality

Commit: https://github.com/webpack/webpack/commit/fb4070442a3c0feb115dbb9229ccd0dc1458b30d

[2018-09-25 13:12] Pan-Bubr opened #162 "Unable to name worker threads"
As far as I know `worker-loader` do not provide reasonable way to create name for the Worker Thread for debugging purposes. Now all workers are named with hashed numbers (i.e. `#23`), while in the ES6 spec you can pass optional parameters with `[WORKER_NAME]` like this:

`let worker = new Worker('path/to/my.worker.js', { name: '[WORKER_NAME]' });`

I see no implementation in `worker-loader`. Passi

[2018-09-27 10:15] hughrawlinson opened #163 "Worklet support?"
Would worklet support be something of interest for this package? The worklets have generally pretty similar interfaces to the worker, so I'm interested in seeing if it'd be possible to set the constructor you use?

[2018-10-01 14:45] flo-l opened #164 "wrong paths using dynamic imports in workers"
I'm getting 404s when using dynamic import in a worker. I'm not sure if this is supposed to work, I'm just starting with webworkers. But it seems odd to get a 404 instead of, eg. an error message telling me what I do doesn't work.

I created a minimal project for reproduction of the problem [here](https://github.com/flo-l/worker-loader-bugreport). It contains all details + code. If more info is ne

[2018-10-01 14:53] flo-l commented on #164
maybe related?

webpack/webpack#7529

[2018-10-01 15:04] flo-l commented on #164
also maybe related:

webpack/webpack#4861

[2018-10-02 04:59] ktalebian opened #165 "Loader for Webpack 3"
From the Readme, seems like this is not available for webpack 3. Is there no alternative than to upgrade to webpack 4?

[2018-10-04 18:43] GaryBer commented on #149
You have to use :

const myWorker = require('./myWorker.js'); // if using ts-loader and not ES6 imports

[2018-10-16 19:03] chinchang commented on #129
Seems like you have 2 versions of webpack:
- /usr/local/lib/node_modules/webpack/
- /Users/fredley/dev/frontend/node_modules/webpack/
Try deleting one.

[2018-10-24 21:14] webxl commented on #11
@sizeak Try this: https://github.com/mohsen1/service-worker-loader#readme

[2018-10-24 21:16] sizeak commented on #11
Thanks, will take a look. I'm currently using this https://www.npmjs.com/package/cra-append-sw

[2018-10-26 09:44] semanser commented on #165
you can use version `1.1.1`. it's compatible with Webpack 3

[2018-10-29 02:29] snoopy1412 opened #166 "Uncaught ReferenceError: window is not defined"
when I set worker-loader in creat-react-app , I received this error waring

the codes are all the same with the official sample;

 "worker-loader": "^2.0.0"
"webpack": "4.19.1",

[2018-10-29 05:34] Avi98 commented on #124
Did u found any solution

[2018-10-31 08:00] jiechud commented on #166
@snoopy1412
add  globalObject : 'this'
You can go look   https://github.com/webpack/webpack/issues/6642

[2018-11-01 03:00] jiechud commented on #2
Is the plan going

[2018-11-06 17:50] seanpkent commented on #166
As this is not the default option in webpack, it would be nice to see this in the documentation.
I case anyone is wondering, `globalObject` option goes in the `output` options in webpack config.
For example:
`output: {
       path: path.join(__dirname, 'dist'),
       filename: 'bundle.js'
       publicPath: 'http://localhost:3000',
       globalObject: 'this'
},`

[2018-11-13 12:07] expobrain opened #167 "Changelog is not updated?"
Looks like the changelog is not updated with the changes of version 2.0.0. of `worker-loader`

[2018-11-16 09:17] lamuertepeluda commented on #162
Hi there,

I'd also find this useful.
It should be possible to pass the worker constructor options [described here](https://developer.mozilla.org/en-US/docs/Web/API/Worker/Worker) when importing my worker, e.g.:

[code]

However looking at the [code here](https://github.com/webpack-contrib/worker-loader/blob/master/src/workers/InlineWorker.js#L27), it does not seem possible.

Which pieces of code

[2018-11-19 09:25] Enitoni opened #168 "Module not found when using TypeScript"
I followed [this guide](https://webpack.js.org/loaders/worker-loader/) on how to integrate WebWorkers in TypeScript with webpack, but no matter what I try, the solution does not work.

I've tried using `import Worker = require(...)` as well as `import Worker from "..."` and the first ends up with the worker being not defined, the second ends with webpack giving an error that it can't find the modu

[2018-11-19 15:53] bart-1990 opened #169 "Syntax Error in IE 11"
The loader doesn't seem to work properly in IE11.

I am using the following config:

[code]

When I create the web worker like this:
[code]
IE11 throws the error:
SCRIPT0: SYNTAX ERROR

Can someone confirm this error or is there something I should add to my babel config or do I need some sort of polyfill?

[2018-11-19 19:22] #168 closed, assigned to nobody

[2018-11-19 20:40] samal84 commented on #168
What did you see @Enitoni ?!

https://xkcd.com/979/

[2018-11-20 03:41] Enitoni commented on #168
My import was wrong, I changed it to `worker-loader!./../../core.worker` and now it works.

[2018-11-21 10:40] FranckFreiburger commented on #70
I wondering if it is possible to factorize duplicate code using DllPlugin ?

[2018-11-28 13:31] ratscrew commented on #138
having the same issue with angular 7.xx

[2018-11-29 17:14] minlare commented on #169
I also recieve this error.

[2018-12-02 21:03] InstanceOfMichael commented on #2
I'm going to try this: https://www.npmjs.com/package/shared-worker-loader

[2018-12-07 16:00] SamanthaAdrichem commented on #94
Is there an example where you can just import worker from worker.ts where the custom.d.ts is centrally loaded and that your webpack loader config is more in this style, just like how it works in the js version?

`{
				test: /\.worker\.ts$/,
				use: [
					{
						loader: 'worker-loader',
						options: { name: '[name].[hash].js' }
					},
					{
						loader: 'babel-loader',
						options: {

[2018-12-08 14:43] sharifzadesina opened #172 "Deprecated Buffer() constructor"
The Buffer() constructor is deprecated, we should stop using it, see [here](https://nodejs.org/api/deprecations.html#deprecations_dep0005_buffer_constructor).

[2018-12-09 14:35] Tanguyabel opened #173 "Fails to download sourcemap file with inline mode"
Hi,

It could be that my issue is related to other issues I could check before on that repo, or similar ones related to webpack itself. But I can't get it solved so I am posting it here, sorry in advance.

So I build my workers in inline mode as recommended in the documentation because I want to be able to run them when my assets are hosted onto a CDN and therefore they cannot be executed after be

[2018-12-12 07:19] aprilmintacpineda opened #174 "Compatibility with webpack-dev-server HMR."
![image](https://user-images.githubusercontent.com/21032419/49852829-2ea87280-fe20-11e8-9e01-aedee773a580.png)

![image](https://user-images.githubusercontent.com/21032419/49853099-09683400-fe21-11e8-9202-42db71c8811e.png)

The error is coming from the web worker because `window` is not available on web workers.

Turning off HMR will fix the error BUT I want to be able to use HMR for other stuff.

[2018-12-14 07:16] aprilmintacpineda commented on #116
almost 2019, still no answer?

[2018-12-15 14:58] ahuglajbclajep commented on #94
I made this library for worker-loader.
https://www.npmjs.com/package/session-typed-worker
You can guarantee deadlock-free, and you can infer the type of the received value.

[2018-12-25 16:20] alangpierce commented on #94
I got this working with the plain `.worker.ts` filename convention. Not a fantastic solution, but you can add this line to the bottom of your `.worker.ts` file:

[code]

This makes it so, from a type system perspective, the other side imports it as the sort of `Worker` class exposed by worker-loader. Unfortunately, it also means that the worker file now exports an empty object `{}`, which is weird

[2018-12-27 10:48] thojanssens opened #176 "Can't build production file"
I used _create react app_ to create my app. I ejected the config files as I had to add the following configs into webpack:
[code]
But when I try to build for production (`npm run build`), no files are generated:
[code]
No files shows up after `File sizes after gzip:` and the build folder only contains `favicon.ico` and `manifest.json`.

The application works though when I launch it with `npm start

[2018-12-27 17:46] sohailalam2 opened #177 "Cannot read property 'createChildCompiler' of undefined"
Original Issue at: https://github.com/vuejs/vue-cli/issues/3192 and https://github.com/webpack-contrib/thread-loader/issues/55

Here is a **minimum reproducible test repo** https://github.com/sohailalam2/mrt-vue-comlinkjs-worker-loader

### Vue Cli Version
3.2.1

### Environment info
[code]

### Steps to reproduce
Step 1: Create vue.config.js with the following

[code]

Step 2: `npm run serve`

##

[2018-12-27 17:58] evilebottnawi commented on #177
Please don't spam issue in may repo, also you reproducible test repo is not look minimum.

Simple example = fast fix.

[2018-12-27 18:12] sohailalam2 commented on #177
Apologies... don't mean to spam... I just don't know what's the root cause of this - Vue Cli or Worker Loader or Thread Loader?

About the reproducible test, it's quite straightforward because I have used Vue Cli to generate the code and made only some small changes. If you want more explanation, I can document the details but I don't know how else to reproduce this issue.

[2018-12-29 14:51] ethansisson commented on #174
I'm also experiencing this issue.

[2019-01-04 05:33] stoplion opened #179 "Can a web worker script import other libraries?"
Can a web worker script import other libraries?
Asking because as soon as I do, the compilation runs out of memory and errors out

[2019-01-04 22:14] spencer-brown commented on #174
jFYI - a workaround has been recommended on the Webpack side [here](https://github.com/webpack/webpack/issues/6642#issuecomment-417581675).

[2019-01-07 10:38] davidshore commented on #176
I had the same problem. Adding this to webpack config managed to fix it:
[code]
The production build seems to work even though it reports errors during the build process.

[2019-01-08 01:19] cshl0ve commented on #176
@davidshore Thank you so much. I upgraded from CRA 1 to 2 and there was exactly the same issue. I set the webpack config so that the problem is completely resolved.

[2019-01-11 19:18] eranimo commented on #134
Also getting this error, rather randomly. Also on Webpack 4, no eslint-loader.

[2019-01-15 09:02] snoopy1412 commented on #176
nice

[2019-01-15 09:02] snoopy1412 commented on #176
nice thank you

[2019-01-15 09:56] snoopy1412 opened #180 "I cant set the correct publicPath, how it work ?"
{
        test: /\.worker\.js$/,
        loader: "worker-loader",
        options: { publicPath: resolve("dist", "static") }
      }

I want put the builded workerjs files into dist/static/ ,but never success, how can i set ?

[2019-01-15 21:47] uc2pac commented on #154
@romanlex , I have the same issue. I can't switch to inline worker since inline worker is not working in IE. Did you found any other solution?

[2019-01-16 03:20] stoplion opened #181 "worker-loader not working"
After Webpacking.. I'm getting two files:
`application-ef25b6635fa029f2c3d9.js`
and...
`parse_line_worker-744295acb4e2c4a5e538.js`

First file has a `postMessage` to the webworker (which is in that second file). The Webworker has an addEventListener for that `postMessage`

The postMessage is called, but the code in the Webworker is never called. In fact, it isn't even in the bundle.

Are you suppo

[2019-01-16 03:20] #179 closed

[2019-01-16 03:20] stoplion commented on #179
thanks!

[2019-01-16 12:23] marcelotduarte commented on #145
Maybe:
[code]

[2019-01-17 01:20] stoplion commented on #181
reason I'm asking is because the worker is just not showing in the bundle at all.. the call to the worker `parseLineWorker.postMessage({....});` is there, but the code in the `*.worker.js` file is not

[2019-01-22 02:12] Junyong34 opened #182 "Modifying the worker file does not reflect hoload"
Modifying the worker file does not reflect hoload
Eventually, the npm server must be restarted for the changes to take effect. I do not know the cause.

[2019-01-22 22:04] JavaJamie opened #183 "Worker-loader web worker not working with Webpack 4"
We've successfully created a web worker using worker-loader in a CRA project using Webpack 3.5.6 and it's worked fine but upon upgrading it to Webpack 4.19.1 it doesn't worked. It results in a worker.postMessage is not a function error. We have tried absolutely everything in terms of re-ordering the code, scopes etc but to no avail. After doing research it appear this is a very widespread issue.

[2019-01-24 09:41] the-spyke opened #184 "Worker polyfills"
Is there a way to add polyfills automatically? Usually I add an additional entry point in Webpack config pointing to `babel-polyfill`. This is convenient when you need to build different versions of the package: complete for a demo or browser, unpolyfilled for npm, etc. How to solve this problem for web workers?

[2019-01-24 09:47] evilebottnawi commented on #184
@the-spyke use multicompiler mode

[2019-01-24 09:51] the-spyke commented on #184
@evilebottnawi I'm using it. The first one has `babel-polyfill` entry and the second one hasn't. How to add polyfill to workers in first compiler?

[2019-01-24 09:54] evilebottnawi commented on #184
@the-spyke setup `.babelrc`/`babel.config.js` for `babel-loader` on first compilation

[2019-01-24 09:55] evilebottnawi commented on #184
Also it is bug tracker, not QA service, better use for question `stackoverflow`/`gitter`

[2019-01-24 10:01] the-spyke commented on #184
@evilebottnawi The issue that I'm describing exists without multi-compiler too. If I have a single build with polyfill entries and I do not use Babel's `built-ins` mode when it overrides `Object.entries()` with it's own calls. Who will copy polyfill code from main chunk to worker chunk?

[2019-01-25 02:56] aprilmintacpineda opened #185 "Failed to load resource"
![image](https://user-images.githubusercontent.com/21032419/51722122-52054500-208f-11e9-8bda-6cf6fc8bb231.png)

![image](https://user-images.githubusercontent.com/21032419/51722151-66e1d880-208f-11e9-9870-7a3de3e38838.png)

In the images above, you see that loading the file itself failed due to network errors.

- Is there any way to handle such error so that recovery procedures could be performed?

[2019-01-27 00:18] stoplion commented on #183
Having same issue.

[2019-01-28 16:38] samuelcolvin commented on #176
I'm getting the same error; `noEmitOnErrors: false` "fixes" the problem, but I'm slightly scared of the error which must be causing this which I can't see and I'm skipping.

Does anyone know what's actually causing this? A proper fix would be great.

thanks so much for the `worker-loader` package btw, it's great.

[2019-02-01 09:34] michael8090 commented on #67
For now worker-loader doesn't support cross origin files, maybe we can support it by:
1. using `new Worker('https://some.other.origin', {type: 'module'})`, or
2. using JSONP

What do you guys think?

[2019-02-05 12:43] gwmaster opened #187 "class Arrow function worker faild"
import _ from 'lodash'
class MyWorker{
    constructor(){
        self.addEventListener('message', this.onMessage)
    }
    onMessage = (event) => {
        debugger
    }
}
new MyWorker()

manager.worker.js
    Module parse failed: Unexpected token (7:14)
    You may need an appropriate loader to handle this file type.
    |         self.addEventListener('message', this.onMessage)
    |     }

[2019-02-12 06:39] futurechallenger commented on #134
When I try to use the `inline` mode, I met this problem too. Here's how I solved this problem:
[code]

[2019-02-16 02:35] sombek commented on #176
Now it is exporting the files which is very good
but now when I want to use the function from chrome the console says:`Uncaught TypeError: Fr.a is not a constructor` also there is a weird action which is when I open the react up it says `importScripts` is not defined

this is how am using the worker in my component:
[code]

Note my worker is located within the directory of the component is that ri

[2019-02-16 13:14] sombek commented on #176
OKAY all the sudden today it's working fine 🤕
I did not even needed this 😮!!
[code]

[2019-02-16 13:45] sombek commented on #176
Okay now it is working fine
The weird thing today is not showing an errors in webpack console

[2019-02-16 18:26] Dmitry-N-Medvedev opened #188 "module is not defined"
hi,

I get `Uncaught ReferenceError: module is not defined at Object../src/app/dynamo.worker.mjs (dynamo.worker.mjs:1)`

in-browser **dynamo.worker.mjs**'s content:
[code]

on-disk **dynamo.worker.mjs**'s content:
[code]
**webpack.js** content:
[code]

[2019-02-16 22:33] NaLLiFFuNT commented on #181
Got similar issue
[code]

[code]

worker file is loaded but its content never runs. Tried to send `postMessage` manually from console, got the same behaviour.

[2019-02-21 07:37] mehmetnyarar opened #189 "ctx.postMessage doesn't work (TypeScript)"
Hi,

I am in an ejected CRA app with TypeScript. I can send message from component to  the worker, worker successfully takes the input data, processes it but `ctx.postMessage` seems does nothing, therefore I cannot get the result from the worker.

Here are the steps I took:

1. I added `worker-loader` to the `config/webpack.config.js`:

[code]

2. I added below to my `custom.d.ts`:

[code]

3. My

[2019-02-22 06:12] tlaukkan commented on #95
Hi, any chance of getting this fixed. I think this is a bug really.

[2019-02-25 22:40] sanbornhilland commented on #116
@aprilmintacpineda Can you confirm that using `preload-webpack-plugin` actually behaves as expected? I'm trying right now and there are a couple things that lead me to believe it's not doing what I want it to.

1. Running a lighthouse report gives me warnings about the worker scrips I'm trying to preload: `A preload <link> was found for "foo.worker.js" but was not used by the browser.`

1. I'm see

[2019-02-26 02:25] aprilmintacpineda commented on #116
**A preload <link> was found for "foo.worker.js" but was not used by the browser.** already confirms that it works and was preloaded. The issue is that when you preload a particular file, the browser expects that you will use it immediately. If you wouldn't use it immediately, you could use `prefetch` instead.

More information at https://developer.mozilla.org/en-US/docs/Web/HTTP/Link_prefetching_

[2019-02-26 15:14] sanbornhilland commented on #116
@aprilmintacpineda Gotcha. Thanks for the explanation that gives me some good information to keep moving forward with this.

Does that fact that two network requests show up not seem suspicious to you?

[2019-02-27 02:15] aprilmintacpineda commented on #116
Now that you mentioned it, yeah it does look suspicious. Seems that a script tag triggered the first request and then a JS code triggered the second request. I'm not sure how and why that happened though.

[2019-02-28 02:45] nalbion opened #190 "(TypeScript) my_worker_1.default is not a constructor"
"typescript": "3.1.6",
"webpack": "4.29.1",
"worker-loader": "2.0.0"

The typescript below compiles to
[code]
When the app runs, `my_worker_1` evaluates to:
[code]
An error is therefore thrown: `my_worker_1.default is not a constructor`
The code should compile to the following, without reference to `.default`

[code]

## my.worker.ts
[code]

## app.ts
[code]

## webpack.config.js
[code]

[2019-02-28 02:47] nalbion commented on #190
https://stackoverflow.com/questions/50210416/webpack-worker-loader-fails-to-compile-typescript-worker

[2019-02-28 05:23] nalbion commented on #190
I can avoid the `my_worker_1.default is not a constructor` error if I use

[code]

but then I get:

[code]

The fix for this problem is to add `globalObject: 'this'` to the webpack config as mentioned in #142

...but with the `worker-loader!` prefix in app.ts the worker code doesn't actually run and there are no errors logged to the console.  The fix - drop the prefix:

[code]

...but even then Ty

[2019-03-04 08:48] rifler commented on #129
@chinchang thank you for answer, this helps!

But I don't understand some points. I have 2 `git:` dependencies, both of them use `webpack` (different major versions) as dependency to run some build in postinstall.
So I have:
`./node_modules/webpack` (from `package1`)
`./node_modules/package2/node_modules/webpack`

What should I do in this kind of situation? Fortunately either of deps are mine, so

[2019-03-04 10:24] danikaze opened #192 "No options being used"
Basically, I'm trying to use `worker-loader` in an Electron + Next.js app, with webpack, via `next-workers`.

This `next-workers` basically adds this rule to webpack:
[code]

But it's not working. `worker-loader` is being called properly but it looks like the options are ignored.
After struggling some time, I tried to _debug_ it and just displayed the options being used inside `node_modules/worker

[2019-03-11 20:10] 0x53A commented on #96
I just also hit this issue. The workaround/fix is easy, but do you think it would be possible to fix this inside worker-loader?

Everything else in webpack seems to work ok without ``publicPath`` being slash-terminated, and it seems like an easy issue to solve.

[2019-03-11 20:25] 0x53A opened #194 "wrong worker js file is loaded"
worker-loader created two files:

``576e8350095daa76e57a.worker.js``

[code]

``5aed48f4f2b2d95b6440.worker.js``

[code]

------------

then in main.js, where I import the worker like this: ``worker-loader!./../Client.Worker/client.worker.js``

[code]

So it tries to create a worker from the wrong js file.

[2019-03-12 11:34] Dancia commented on #192
Same issue. No options being used at all.

Node: v10.11.0
worker-loader: 2.0.0

[2019-03-13 12:03] webpack-bot opened #195 "worker is cached using worker-loader"
# Bug report

my loader config is:
`
rules: [
        {
          test: /\.worker\.js$/,
          use: [
            {
              loader: 'worker-loader'
            }
          ]
        }
      ]`

and i don't know why worker file is always cached unless i rename the worker file or add some random number after the import, as "import A from './a.worker?123'"

**Other relevant information:**
w

[2019-03-13 12:03] evilebottnawi commented on #195
@mysisi what you mean cached? Can you create minimum reproducible test repo?

[2019-03-14 16:36] GenericDeveloper14 commented on #177
Any status change in regards to this issue? Also experiencing this problem.

[2019-03-14 16:42] evilebottnawi commented on #177
PR welcome

[2019-03-18 01:16] CrashyBang commented on #177
Same issue, not sure what is the cause, if I nuke the `node_modules` directory and reinstall it does work, but eventually breaks again and I have to reinstall.

[2019-03-20 13:47] yangsibai commented on #45
Replace `importScripts("a.js");` with `require("a.js")`.

[2019-03-25 07:56] zhu1033527427 opened #196 "how to set tree-shaking config"
A.js
[code]
*.worker.js

[code]

In *.worker.js，i import some function or method that i need, but when i build it, it include some other useless code (example: fb, fc) in builded file

[2019-03-25 09:37] evilebottnawi commented on #196
webpack already do this

[2019-03-26 01:46] zhu1033527427 commented on #196
It doesn't work in *.work.js!

[2019-03-28 02:26] masterkidan commented on #192
Same issue
Note: v8.11.3
worker-loader: 2.0.0

[2019-04-01 18:25] rapgru commented on #195
I also encountered this issue, a reproducible test repo can be found [here](https://github.com/rapgru/worker-loader-issue).

The steps for reproduction are listed in the repo's README.

Used:
- worker-loader 2.0.0
- webpack 4
- node: 8.11.2
- vue cli 3

[2019-04-03 08:26] raczosala commented on #177
perhaps is related with webpack-contrib/thread-loader#27

[2019-04-09 20:12] songololo commented on #195
I've also encountered issues, resolved by having to delete `node_modules/.cache` between refreshes / rebuilds that affect the worker file.

[2019-04-12 18:38] wanecek commented on #177
I'm also running into the issue described above. I created a slightly smaller reproduction, maybe this can help in isolating the issue @evilebottnawi? :)

To summarize, the build-task fails with the error-message above. Removing the node_modules folder does __not__ fix the issue for me.

[2019-04-14 16:34] wanecek opened #197 "Worker file not emitted with nested imports"
Whenever importing a worker-file that in turn imports another file, the main worker file is not emitted in the build.

I've created a reproducible test case at [wanecek/vue-worker-loader-test@broken-nested-import](https://github.com/wanecek/vue-worker-loader-test/tree/broken-nested-import), with the following structure:

- **main.js**, "normal" JS-land, which `import(...)`s example.worker.js
- **e

[2019-04-15 08:19] wanecek commented on #197
This may be related to #194, but I'm not sure.

@evilebottnawi, let me know if there's anything I can do to help you debug this.

[2019-04-20 02:37] koriner commented on #179
@stoplion I'm running into this exact same issue. Trying to import a file from the app codebase inside my worker file causes webpack/node to just build forever and runs out of memory.

Did you have to do anything specific to get around this?

[2019-04-28 07:36] stoplion commented on #179
Unfortunately I never figured out how to get it work.

[2019-05-01 16:42] bfricka commented on #190
In tsconfig.json add:

[code]
In `*.worker.ts`:
[code]
Now you can use your worker as a normal default import:
[code]
TypeScript now sees `MyWorker` as type `Worker` and you no longer need to `import from 'worker-loader!./my.worker.ts';`. Instead, set up worker-loader in your webpack config. E.g. in my case this is a drop in for an ejected CRA in the `oneOf` list where `TS_LOADER` is defined (basi

[2019-05-07 21:27] steida commented on #190
@bfricka Thank you. It works. Except I don't need esModuleInterop in my tsconfig.json

[2019-05-08 03:49] bfricka commented on #190
@steida Yeah, that was an oversight. It's fine since it's a default export. Oops!

[2019-05-09 02:57] KennyWho commented on #195
@rapgru https://github.com/vuejs/vue-cli/issues/2028 the problem will be resolved

[2019-05-30 18:20] cjbuchmann opened #198 "Microsoft Edge Failed to open blob with inline option"
Hey there,

I'm using this library and getting an issue when trying to load an inline blob via Edge. This seems to work great in other browsers such as Safari, Firefox and Chrome.

the error is `Failed to open blob:https:/my.app.com/35809173-5420-4fd4-abb2-131c849abf0d`

One note of importance is that the url is not mistyped above, it only includes one slash after the https.

I've tried this on tw

[2019-06-03 06:10] gaoryrt commented on #163
https://github.com/reklawnos/worklet-loader may help

[2019-06-03 17:57] sabubaker opened #199 "Wrong path generated for chunked worker files"
When a custom path is specified for emitted worker files as follows:

`loader: require.resolve("worker-loader"),`
`options: {`
`    name: 'static/js/Custom.[hash].worker.js',`
`    publicPath: "/static/js/"`
`}`

the output is as expected as long as the workers do not have chunked files. However, when they do contain chunks, the output is as follows:

`1.08 KB        build\static\js\Custom.1d4ad84

[2019-06-04 19:53] cjbuchmann commented on #198
I need to dig into this a little further on my end to see what the actual issue is. Deployed a new simple app with a service worker using this package and it worked on Edge. So this is probably something specific to my own application.

[2019-06-04 19:53] #198 closed

[2019-06-12 21:07] piotrblasiak commented on #184
@the-spyke were you able to find a solution to this?

[2019-06-13 08:31] the-spyke commented on #184
@piotrblasiak No, I wasn't and rewrote worker code so it works without polyfills everywhere.

[2019-06-17 16:40] pmkroeker commented on #181
I am getting a similar issue, inline seems to not be respected and is still outputting a file.

[2019-06-17 16:48] pmkroeker opened #200 "Not respecting config"
When importing a worker using (in TypeScript)
`import MyWorker from 'worker-loader!./fetch.worker';`,

and setting up webpack with the config
[code]

Webpack uses the default configuration, over the one what I have defined in my config.

I use mode declare if the files are dev/bundled, so they wont get tracked in our repo if they are `dev`, and I would like to keep this functionality, but to use t

[2019-06-17 17:06] pmkroeker commented on #200
Looks like this actually runs the loader 2x (once inline and once in the config).

If I only use the config one I get `MyWorker is not a constructor`

[2019-06-17 22:16] pmkroeker commented on #200
I think the webpack cache cleared once I restarted my laptop, seems to be working fine now.

[2019-06-17 22:16] #200 closed

[2019-06-18 08:54] Will233 commented on #195
has the same problem~

woker-loader 2.0
webpack 4
vue-cli3

[code]

I change  `name: 'WorkerName.[hash].js'` manually and `npm run dev` to update the cache

[2019-06-22 06:25] buffaybu commented on #179
I met this problem today and it worked after I removed circular imports.

[code]

[code]

[2019-06-23 23:56] masx200 commented on #174
'm also experiencing this issue

[2019-06-24 00:04] masx200 commented on #174
output: {
       path: path.join(__dirname, 'dist'),
       filename: 'bundle.js'
       publicPath: 'http://localhost:3000',
       globalObject: 'this'
},

[2019-06-25 21:29] DioNNiS opened #202 "Async worker loading"
I'm using TypeScript approach to load worker (https://github.com/webpack-contrib/worker-loader#integrating-with-typescript).
It seems that worker loaded syncroniusly.
How I can make it asyncroniusly, so that my main app whould not wait untill worker is loaded?

[2019-06-28 00:02] DioNNiS commented on #202
Can I load worker dynamicly?

[code]

`const worker = new Worker();` - is not a constructor in this case....
How to make it properly?

[2019-06-28 19:56] liamcarter111 opened #203 "Build breaks when dev dependencies are installed"
When running with dev dependencies installed (to make project contributions) the parent webpack project build fails with:

                        hash.update(`${this.outputOptions.publicPath}`);
TypeError: Cannot read property 'outputOptions' of undefined
    at ..\worker-loader\node_modules\webpack\lib\webworker\WebWorkerMainTemplatePlugin.js:97:24

Works fine when updating project dev dependenc

[2019-06-29 15:09] masx200 commented on #174
https://github.com/webpack/webpack-dev-server/issues/1595

https://github.com/webpack/webpack/issues/6642

https://github.com/webpack-contrib/worker-loader/issues/174

[2019-07-01 09:32] evilebottnawi commented on #174
Somebody can create minimum reproducible test repo?

[2019-07-04 15:22] michal-lipski opened #208 "Memory leak resulting in net::ERR_OUT_OF_MEMORY"
**The problem**

The loader is calling `URL.createObjectURL` to create URL representing the worker javascript bundle file. The object is never released, and garbage collector can't remove it from memory.
At some point it is not possible to create another object and error is thrown: `net::ERR_OUT_OF_MEMORY` which means the buffer of the network interface is full.

I am getting this on all browsers.

[2019-07-04 16:12] evilebottnawi commented on #208
PR welcome

[2019-07-05 10:55] evilebottnawi commented on #167
Will be fixed in next version, thanks for issue

[2019-07-05 10:55] #167 closed

[2019-07-05 10:55] #165 closed

[2019-07-10 19:35] kumar303 commented on #174
@evilebottnawi I don't know if it's very minimal but I used [create-react-app](https://facebook.github.io/create-react-app/) to make a simple example. https://github.com/kumar303/worker-loader-issue174

The readme has instructions. The app gives me: `ReferenceError: window is not defined`

If I understand correctly, I can change the webpack config to transform `window` into `this` but that's trick

[2019-07-10 19:38] evilebottnawi commented on #174
@kumar303 it is happens only with webpack-dev-server?

[2019-07-10 19:39] kumar303 commented on #174
yes, I think so. In create-react-app, `yarn start` starts up in development mode.

[2019-07-10 19:44] evilebottnawi commented on #174
@kumar303 if is happens only with webpack-dev-server, can you create issue in webpack-dev-server repo with reproducible test repo (no need minimum, just step how to reproduce problem)

[2019-07-10 20:27] kumar303 commented on #174
The title is misleading but this issue already exists in webpack-dev-server; it seems to be about the same exact problem: https://github.com/webpack/webpack-dev-server/issues/1595

[2019-07-10 20:36] evilebottnawi commented on #174
@kumar303 i think we should solve this instead exclude some files from HMR, because it is not good solution

[2019-07-10 20:36] evilebottnawi commented on #174
Can you put example with reproachable steps in issue

[2019-07-11 16:02] davidawad commented on #174
I've been fighting with this issue for a few days. I can't seem to include pdfjs within create react app.

See https://github.com/wojtekmaj/react-pdf/issues/190 https://github.com/developit/workerize-loader/issues/5 and https://github.com/facebook/create-react-app/issues/1574

[2019-07-11 16:03] evilebottnawi commented on #174
I will look this on weekend

[2019-07-11 18:06] davidawad commented on #166
Came up against this when trying to implement the final comment on this issue with CRA:   https://github.com/facebook/create-react-app/issues/1574

For anyone that happens to find this that is trying to use EpubJS in create react app and can't get the service worker imported properly, the ONLY thing that worked for me was to eject the app from CRA and add `globalObject: 'this'` to the webpack conf

[2019-07-11 19:12] HarwinBorger commented on #195
As mentioned in https://github.com/vuejs/vue-cli/issues/2028#issuecomment-410352587 you can resolve the problem by excluding the worker files from the VUE-CLI JS rule.

In `vue.config.js` add:
[code]

[2019-07-11 20:45] trusktr opened #210 "What does fallback mode do?"
Does it polyfill `worker.postMessage` to work on code running in the same thread (not a worker)?

[2019-07-11 20:59] evilebottnawi commented on #210
Require a fallback for non-worker supporting environments

[2019-07-12 18:38] trusktr commented on #210
@evilebottnawi I get that part. But what does it do? Is it going to add a polyfill, so that code that is calling `worker.postMessage()` will be faked?

[2019-07-22 05:10] mo-xiaoming commented on #45
Problem remains on worker-loader 2.0.0

[2019-07-23 22:08] geethu-u opened #211 "PublicPath is not working in Production Mode"
I am specifying publicPath as /js/ so that the output of worker goes to the js folder along with my other build files. However, it's not going there. Also, I'm getting an error in console saying
excelReaderWorker.js:2 GET http://127.0.0.1:8887/cpoupload/cbfd9ad385e82500bb79.worker.js 404 (Not Found)

{
        test: /\.worker.js$/,
        exclude: /node_modules/,
        loader: 'worker-loader',

[2019-08-02 11:33] PowerfulPony commented on #177
The same error that appeared after using `worker-loader` appears only with `npm run build`. That is, for `npm run serve` everything works as usual, using `vue-cli`.

[2019-08-04 08:40] ahuglajbclajep commented on #94
It seems to move even if `const ctx: Worker = self as any;` is written as `declare const self: Worker;`.

[2019-08-13 19:08] altinselimi opened #212 "Worker-loader not using specified options"
I am using v2.0.1 of the plugin, and have followed setup options properly for using it inside a Vue JS project. Its working well in development mode, but when bundling for production its not respecting the configuration that I have got in vue.config.js.
[code]
I have confirmed Vue is outputting the proper configuration by running `vue inspect > output.js` which is outputting this configuration for

[2019-08-15 08:26] MrPlume2 commented on #211
i have the same question

[2019-08-15 08:30] MrPlume2 opened #213 "worker.ts is not working in vue with ts"
i try worker.ts according to the official website (doc), but it is not working.

[2019-08-15 10:31] evilebottnawi commented on #213
We don't have worker.ts in repo, invalid repo report

[2019-08-15 10:31] #213 closed

[2019-08-15 14:55] mityok commented on #202
@DioNNiS did you managed to solve the issue, I'm having the same problem

[2019-08-21 01:28] VictorWu90 commented on #199
+1

[2019-08-24 14:10] mib32 commented on #176
If you are using create-react-app, run this command from your app dir:

[code]

This will show any errors preventing build.

[2019-08-29 20:54] geethu-u commented on #211
Is someone looking into this?

[2019-08-30 09:15] brettimus commented on #166
so in case anyone bumps into something similar, our worker broke because a file that it depended on was importing something that in turn imported CSS, and the `style-loader` uses the window object.

very silly regression. but hey. it happened.

[2019-08-30 17:40] dangreen commented on #174
Hi there 👋

This is my solution to disable HMR for workers:
https://github.com/TrigenSoftware/hmr-filter-webpack-plugin#usage

[2019-09-02 02:55] ortonomy commented on #176
BTW the fix to get this working with ``worker-loader`` and ``react-app-rewired`` is creating a ``config-overrides.js`` file and putting this inside:

[code]

Name your workers ``*.worker.js`` and production builds will work

@thojanssens

[2019-09-05 09:43] Yanfei-Qiao commented on #177
Also run into this problem, `parallel: false` helps, but I want to know if there is an elegent solution

[2019-09-11 07:06] luxsush opened #214 "Lag in loading the web worker.js by the browser"
Hi,

I am facing this problem where the web-worker.js is loaded around 200-300 ms after the rest of the main thread ina Chrome browser.  How can I ensure parallel load ?

My app needs to make a call to the web worker on load but now it has to wait 200-300ms before it can send the first request making my app look slow

![image](https://user-images.githubusercontent.com/16308363/64675408-6d349180-d4

[2019-09-13 09:45] epirovano commented on #212
Same problem, I'm using the publicPath  and name options but are ignored.
Have you figured out this problem?

thanks!

[2019-09-15 04:57] altinselimi commented on #212
Nope, can't figure it out myself...

[2019-09-15 05:17] jzombie commented on #214
Try running it as an inline-blob.

e.g.
`
{
  loader: 'worker-loader',
  options: { inline: true }
}
`

[2019-09-15 05:19] jzombie opened #215 "Why is this package no longer being maintained?"
Lots of people are making changes upstream and nobody is merging them in.

[2019-09-15 20:26] jzombie opened #216 "Google's worker-plugin is good alternative to this package"
https://github.com/GoogleChromeLabs/worker-plugin

[2019-09-15 20:37] #215 closed

[2019-09-16 10:38] evilebottnawi commented on #216
Yes

[2019-09-27 11:06] lckj210 commented on #189
I just encountered the same problem. It turned out that there is no need to do step 1...

[2019-09-30 15:29] ValkoVolodya commented on #216
But it works only with webpack v4+ as far as I know(

[2019-09-30 15:31] evilebottnawi commented on #216
webpack@3 is deprecated and we strongly recommend to update

[2019-10-07 11:48] TNieminen commented on #202
Also having this issue, would love to hear some thoughts on this!

[2019-10-07 12:54] Tarik02 commented on #202
Did you try something like this?
[code]

[2019-10-07 23:47] pardoman commented on #161
Agreed.

I'll try to send a PR for this since it's trivial to implement.
We just need to update this section: https://github.com/webpack-contrib/worker-loader/blob/5718fc1729fb1e2fc1a359637929fab7fc3a3b41/src/workers/index.js#L5-L7

[2019-10-08 11:32] TNieminen commented on #202
Got it to work on my local as

[code]
I'm a bit confused why I got returned a function, but does seems to work.
Return of the import:

[code]

I was however unable to bundle this with webpack the import elsewhere. But I guess that is just a matter of webworkers not being available in my servers dist? Something that I could fix with publicPath maybe?

[2019-10-10 11:45] marcusegues opened #221 "Minimal example of a working TypeScript ES6 Webpack setup not working"
I can't get worker-loader to work perfectly with TypeScript and ES6 from the docs.

I've set up a [repo](https://github.com/marcusegues/worker-loader-test) with the minimal setup to potentially get this to work.

It uses webpack on an entry file called `index.ts` that imports Worker from a worker file as described in the docs.

[code]

The error I get in my chrome devtools is that `r.default is no

[2019-10-18 06:14] indus commented on #2
serious? over 4 years for a conditional switch and it is still not available. I don't get the problem.

[2019-10-18 09:55] indus commented on #2
Until this feature gets implemented I'm using the following monkey patch:

[code]

[2019-10-20 23:26] sysebert commented on #177
@CrashyBang's fix worked for me (having to delete node_modules and re-running `npm install`).

This allowed the `npm run build` to finish (like others in this thread have stated, `npm run serve` works fine)

[2019-10-24 13:43] Tvinsh commented on #2
@indus I have the same question, can you show the code in MyWorker.worker

[2019-10-24 14:17] indus commented on #2
@Tvinsh I'm not sure I get you right. The function produced by Webpack looks like so:
[code]

If you are interested in code that lets you use a WebWorker  as Shared worker as well, then I can only present you this TS-fragment:
[code]
The idea is that onconnect only gets used in Sharedworkers and could result in multiple ports that my want to get every message (my use-case). So by putting them in a

[2019-10-25 06:42] Tvinsh commented on #2
@indus Thank you, I will try again to see if I can handle it

[2019-11-03 01:05] serkanyersen commented on #199
I'm having the same problem.

[2019-11-12 01:03] jasonwilliams opened #223 "Supporting Webpack 5"
Testing application with Webpack 5.0.0
Warning emitted
[code]

Would be good to have peerDependencies set to
"webpack": " ^4.0.0 || ^5.0.0"

https://github.com/webpack/changelog-v5/blob/master/MIGRATION%20GUIDE.md

[2019-11-15 14:00] l-pa commented on #176
Solved by putting

`/* eslint-disable */`

[2019-11-26 02:38] zachwinter commented on #212
I'm also unable to `tap` in configuration options using @vli/cli.

[2019-12-02 08:45] shadowli890327 commented on #195
awesome! problem solved

[2019-12-12 03:00] otakustay opened #225 "Add a worker implementation based on fetch"
We were using `worker-loader` and encountered CORS issue, the `inline` option works but make bundle much larger.

I'm wondering if we can provide a `FetchWorker` like:

[code]

With this implementation we can move worker to a separated file just like `inline` is disabled, but read it via `fetch` to come across CORS issue.

[2019-12-16 21:54] stoplion commented on #181
I ended up using another worker library. `worker-loader` doesn't seem active anymore.

[2019-12-20 02:14] otakustay commented on #225
Or this can be implemented via `importScripts` function

[2019-12-24 18:33] wood1986 opened #226 "[Feature Request]: Why does not the loader return the worker path?"
In order to support any kinds of existing workers such as WebWorker, ServiceWorker, SharedWorker and so on. Have you thought about return path which works like file-loader or url-loader? And then let the developers to decide which type of worker should use. It indirectly solve the service worker scenario under worker-loader

[2019-12-31 14:58] Cosmet commented on #189
I also ran into this issue and removed the worker-loader from step 1 as @jasonlaw-dev suggested. Seems to work now.

[2019-12-31 15:55] Cosmet commented on #189
I ran into the same issue. Removing the worker-loader from webpack.config as @jasonlaw-dev suggested seems to have worked.

[2020-01-03 14:18] alk831 commented on #221
Same issue with `create-react-app` project.

[2020-01-05 08:16] light0x00 opened #228 "「 Callback was already called“"

[2020-01-05 08:23] light0x00 opened #229 "build hang with "Callback was already called""
- node: v12.13.1
- "webpack": "^4.41.5"
- "worker-loader": "^2.0.0"

webpack.config

[code]

worker

[code]

caller

[code]

Whenever it is built, as long as the worker-loader is used, it will hang, but if the caller is removed, everything becomes normal

[code]

[2020-01-06 07:26] iandoe commented on #35
Just an update in 2019 / 2020 with `Babel 7+` this is how i got mine working:

in `webpack.config.js`:
[code]

at the top of `MyWorker.worker.js` file:

[code]

In case that can help anyone trying to get this to work in Edge / IE11

Cheers

[2020-01-06 17:38] timothyjellison commented on #181
@stoplion What library did you end up using?

[2020-01-08 01:53] Pomevak commented on #197
I am having the same problem, did you solve it?

[2020-01-18 02:49] piotrblasiak commented on #216
Does not support inline workers yet...

[2020-01-18 07:10] piotrblasiak commented on #173
Making source maps work with inline workers would help me a lot as well.

[2020-01-18 15:17] #228 closed

[2020-01-18 15:26] #229 closed

[2020-01-24 09:01] danielroe commented on #116
See https://bugs.chromium.org/p/chromium/issues/detail?id=946510 for some more info on why this is happening. The correct way to preload is almost certainly with `as=worker` but this is currently not supported.

[2020-01-31 01:46] J-Rojas opened #230 "Worker [hash] is not unique to each build in release mode"
I'm using worker-loader version 2.0.0. I'm encountering caching issues when building in release mode.

The main webpack release process produces chunks with unique hashes per build, however contrarily this module produces the same hash each time the release build is run. The generated hash appears to be based on the file contents only, not the content + the current build iteration.

[2020-01-31 17:16] llorllale commented on #162
The README says this plugin loads scripts as *Web Workers* (client), not worker threads (nodejs). What you're asking for is a worker_threads feature.

Or did I get this wrong and this plugin also supports worker threads?

[2020-02-03 12:07] Finesse commented on #197
I has the same issue. I fixed it by removing the loader option:

[code]

[2020-02-05 23:43] trusktr opened #231 "incompatible with Webpack 5.0"
Hello! worker-loader is incompatible with a breaking change in Webpack 5.0. Details: https://github.com/webpack/webpack/issues/10341

[2020-02-11 09:48] skmvasu commented on #2
Hi @sokra  Are there any plans of merging is? If no, is there any issue in this approach? Happy to work on fixing them if there are any blockers in this approach. This will help me out in some of my projects.

[2020-03-09 16:00] stephanemagnenat commented on #231
It seems the support is almost there, see #224.

[2020-03-09 18:39] developit commented on #226
Not sure if it'll get merged, but I PR'd support for this [back in 2018](https://github.com/webpack-contrib/worker-loader/pull/159).

FWIW you can use worker-plugin to achieve the desired result:

[code]

[2020-03-15 03:58] jd1378 opened #232 "Cannot assign to read only property 'exports' of object '#<Object>'"
I was trying to use worker-loader along with Comlink in my nuxt project, But i started getting the error `Cannot assign to read only property 'exports' of object '#<Object>'` in browser console, so looked into this problem and found out its because the function is being exported using `module.exports = ` [(in here)](https://github.com/webpack-contrib/worker-loader/blob/b82585a1ddb8ae295fd4b1c302bc

[2020-03-15 04:03] jd1378 commented on #232
Actually I read the readme again and saw `if you have the babel-loader configured` under `Integrating with ES2015 Modules` which is not an option for me currently, so I close the issue I guess.

[2020-03-15 04:03] #232 closed

[2020-03-17 03:15] nishio commented on #189
I just made a tutorial to collaborate with CRA + TypeScript:

https://github.com/nishio/tutorial-webworker-with-react/blob/master/README.md

[2020-03-17 03:20] nishio commented on #189
I agree to drop the step 1, because you use webpack-loader-syntax in the import statement of step 4:
`import MyWorker from 'worker-loader!./worker/my.worker'`

I also did the same.

[2020-03-17 03:24] nishio commented on #221
I made a minimal sample of React + TypeScript.

https://github.com/nishio/tutorial-webworker-with-react/blob/master/README.md

You need to add custom type definition.

[2020-03-17 03:28] nishio commented on #139
I made a small sample to work with TypeScript.

https://github.com/nishio/tutorial-webworker-with-react/blob/master/README.md

In your case, `Uncaught TypeError: Failed to execute 'postMessage' on 'Window': 2 arguments required, but only 1 present.` is a false alert. Actually we do not need second argument. So I used `@ts-ignore` to suppress alert. It works.

[2020-03-19 02:46] mervynyang commented on #212
Same problem, all options are ignored.

[2020-03-19 08:20] altinselimi commented on #212
Guys, I succeeded by using rollup for bundling my library. You should try that out. Nothing in the webpack land seemed to work.

[2020-03-25 13:58] ianberdin commented on #199
+1

[2020-03-30 23:17] droberts-ada commented on #181
@timothyjellison `worker-plugin` from GoogleChromeLabs worked for me

https://github.com/GoogleChromeLabs/worker-plugin

[2020-04-01 04:57] ahuglajbclajep commented on #166
This problem seems to be the same one as #142.

[2020-04-02 03:56] YuhangGe commented on #202
Found a solution for typescript@^3.8.3

[code]

[2020-04-03 15:01] raphaelbs commented on #67
Chrome 80 shipped with support for this: https://www.chromestatus.com/feature/5761300827209728

How about adding an option to enable it? Jason Miller made [this gist](https://gist.github.com/developit/5b09dc86c644d76f8fbd8abe294440f2) to check support for module workers.

[2020-04-17 08:40] Aymkdn commented on #169
With Vue, in `vue.js.config` you can do the below to make it loaded by Babel:
[code]

[2020-04-17 08:43] Aymkdn commented on #195
If you also want to use Babel for the worker files (to make them work in IE11 with ES6 syntax), you can add a rule `babel-worker`:
[code]

[2020-04-17 08:45] Aymkdn commented on #184
See https://github.com/webpack-contrib/worker-loader/issues/169#issuecomment-615121811 and https://github.com/webpack-contrib/worker-loader/issues/195#issuecomment-615123513

[2020-04-22 09:35] fu-x commented on #195
Wonderful!

[2020-04-28 06:26] ericblade commented on #212
no options working here, either.  no idea what might be the issue.

With little dev on this in almost 2 years, and pull reqs mounting up, i'm guessing this is not stable, functional, or still in active development... :(

[2020-05-01 16:47] #223 closed

[2020-05-01 16:48] evilebottnawi commented on #231
Fixed in master

[2020-05-01 16:48] #231 closed

[2020-05-08 10:22] Myqilixiang commented on #177
it seems  that you should add "options"
e.g.
[code]

[2020-05-15 13:20] aeroxy opened #237 "Unable to work with wasm-loader and typescript in react project"
I've tried:

[code]

in which `uranus-qrcode` is a Rust-Wasm module I created. I use wasm-loader to load it, and it works when I load it into the main thread, but when I tried it with worker-loader it says:

[code]

[2020-05-15 18:10] a-froghyar commented on #177
I'm facing the same issue described above, only deleting node_modules and installing everything again solves the problem temporarily (until changes in the worker). Has anyone found out a solution?

[2020-06-03 06:32] sgpinkus opened #239 "Options Documentation in README"
For options README gives this example:

[code]

But that doesn't look like a `webpack.config.js`. Can you please give us more of a hint as to where this goes in the webpack config file?

[2020-06-04 17:06] self-coding-crab opened #240 "Async call inside Worker's onmessage method"
Hi Gents.

https://github.com/poma/websnark/blob/master/src/groth16.js#L98
Please check this code before my explanation.
As you can see from the code line, the async function is used inside the onmessage method.
I am using websnark as npm package like this:
`    "websnark": "git+https://github.com/peppersec/websnark.git#c254b5962287b788081be1047fa0041c2885b39f",
`

After research, I could use a wo

[2020-06-04 17:21] evilebottnawi commented on #240
Please open an issue in `websnark`, not related to us

[2020-06-04 17:24] self-coding-crab commented on #240
I don't think so. Not only the websnark but it will occur on the other packages using async method inside onmessage.

[2020-06-04 17:30] evilebottnawi commented on #240
I can't understand, please create reproducible test repo

[2020-06-04 18:46] #240 closed

[2020-06-05 11:56] webpack-bot opened #241 "TypeError: Cannot read property 'outputOptions' of undefined"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Build fails.

[code]

As you can see, I actually build several "apps" with one config, and app is an env variable. Interestingly, only one of these variables fail. The only difference I can see is that pdf app uses [this file](https://github.com/mozilla/pdf.js/blob/99060e2485cacb8513e7bc50d88b7010106

[2020-06-07 06:48] Matrixbirds opened #242 "TypeError Cannot assign to read only property 'cache' of object"
[code]

Env:
[code]

`webpack.config.js`
[code]

`.babelrc`
[code]

reproduce:
[code]

I was tried both dev and prod build option, but i don't find any thread to find what's going wrong. Can anyone give me some advice.

[2020-06-08 23:00] dat23 commented on #242
I'm getting the same error also.
Env:
[code]

Webpack config:
[code]

[2020-06-13 15:37] evilebottnawi commented on #242
Fixed in the master, ETA is today/tomorrow

[2020-06-13 15:37] #242 closed

[2020-06-13 15:38] evilebottnawi commented on #241
Fixed in the master, ETA is today/tomorrow, feel free to open a new issue if you will face with the issue again after release

[2020-06-13 15:38] #241 closed

[2020-06-13 15:40] evilebottnawi commented on #187
Sorry I can't update the issue, feel free to open a new issue with more information

[2020-06-13 15:40] #187 closed

[2020-06-13 15:41] evilebottnawi commented on #157
Update browser to latest version, if you still have a problem(s), feel free to open a new issue with reproducible test repo

[2020-06-13 15:41] #157 closed

[2020-06-13 15:44] evilebottnawi commented on #122
Not related to `worker-loader` and can't reproduce, feel free to open a new issue with reproducible test repo if you still have a problem(s)

[2020-06-13 15:44] #122 closed

[2020-06-13 15:47] evilebottnawi commented on #172
No `Buffer` constructor in the code of loader

[2020-06-13 15:47] #172 closed

[2020-06-13 15:50] evilebottnawi commented on #177
Problem in `thread-loader` side, we will fix it in the near future, sorry for delay, as workaround you can disable `thread-loader` for worker files using `exclude: /\.worker\.js$/`

[2020-06-13 15:50] #177 closed

[2020-06-15 12:26] evilebottnawi commented on #203
Fixed

[2020-06-15 12:26] #203 closed

[2020-06-15 12:37] evilebottnawi commented on #216
We starting to upgrade `worker-loader` and provide first class support, so a lot of features + fixes will be here

[2020-06-15 12:37] #216 closed

[2020-06-15 12:39] evilebottnawi commented on #192
Bug on `next` side, feel free to open a new issue in `next` repo

[2020-06-15 12:39] #192 closed

[2020-06-15 12:54] evilebottnawi commented on #109
Fixed in the master branch, ETA is current week

[2020-06-15 12:54] #109 closed

[2020-06-15 12:55] evilebottnawi commented on #188
Can't reproduce using the `master` branch, we will do new major release in near future, if you will face with issue again after release feel free to open a new issue with reproducible test repo, sorry for delay

[2020-06-15 12:55] #188 closed

[2020-06-15 13:07] evilebottnawi commented on #166
Close in favor #174

[2020-06-15 13:07] #166 closed

[2020-06-15 13:08] evilebottnawi commented on #160
Fixed in the master, ETA is current week

[2020-06-15 13:08] #160 closed

[2020-06-15 13:11] evilebottnawi commented on #196
Answer here https://github.com/webpack-contrib/worker-loader/issues/132#issuecomment-415721860, we need to document it

[2020-06-15 13:11] #196 closed

[2020-06-15 17:28] masterkidan commented on #192
@evilebottnawi I think it would be helpful if you could explain why you think it is a bug on the next side?

[2020-06-15 17:35] brianhelba commented on #177
@evilebottnawi Until this is actually fixed, is there an open issue tracking this bug? [The `thread-loader` issue](https://github.com/webpack-contrib/thread-loader/issues/55) was closed in favor of this one?

Thanks for the update and workaround.

[2020-06-16 11:15] evilebottnawi commented on #192
We have tests and options are works in tests, so problem on boileplate side, you can create reproducible test repo and I can help to restiveness where is bug

[2020-06-24 13:55] richtera opened #245 "SourceMap during debugging points to loader code instead of source code"
- Operating System: Windows 10 Pro
- Node Version: v12.16.2
- NPM Version: 6.14.5 yarn: 1.22.4
- webpack Version: 4.43.0
- worker-loader Version: 2.0.0

### Expected Behavior

When pointing to the source code of the webworker in webpack it should show the source of the worker and not the loader.
My webworker....
[code]
This is what should show so I could step through the code.

### Actual Behavior

[2020-06-30 13:13] evilebottnawi commented on #2
Fixed https://github.com/webpack-contrib/worker-loader/pull/247

[2020-06-30 13:13] #2 closed

[2020-06-30 13:13] evilebottnawi commented on #11
Fixed https://github.com/webpack-contrib/worker-loader/pull/247

[2020-06-30 13:13] #11 closed

[2020-06-30 13:16] evilebottnawi commented on #230
@J-Rojas Sorry for delay, problem still exists? Can you create reproducible test repo?

[2020-07-01 16:04] J-Rojas commented on #230
Going to close this for now as I have not encountered it recently. If it popup again I will reopen.

[2020-07-01 16:04] #230 closed

[2020-07-02 02:20] adamellsworth opened #249 "Safari/iOS not interpreting inline-webworkers correctly."
- Operating System: macOS 10.14.6 (18G103)
- Node Version: 10.15.1+
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- worker-loader Version: 2.0.0

### Expected Behavior

For `inline: true` to load static Webworker from source URI `https://our.url.com/[id].worker.js` instead of `blob://embed.url.com/[id].worker.js`.

### Actual Behavior

We're seeing something in both Prod/Dev with how the `inline

[2020-07-02 11:14] evilebottnawi commented on #249
Do you read https://github.com/webpack-contrib/worker-loader#cross-origin-policy and https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src ? Can't reproduce locally

[2020-07-02 11:15] evilebottnawi commented on #249
You have invalid url, I will look

[2020-07-02 18:03] adamellsworth commented on #249
Sorry I fell asleep before I could get a demo project together. I'll put one together within 24hrs.

When you say i have an invalid URL do you mean this protocolless format is invalid: `publicPath: '//our.url.com',`? does it need to be `https://our.url.com`?

[2020-07-03 11:55] evilebottnawi commented on #249
`publicPath` and `inline` should, not work together, no sense to use `publucPath` when you inline

[2020-07-08 21:14] Xdwlf opened #250 "Can't use workerType. options['workerType'] is an invalid additional property"
- Operating System: mac 10.14.6
- Node Version: 10.16.0
- NPM Version: 6.9.0
- webpack Version: ^4.42.1
- worker-loader Version: ^2.0.0

### Expected Behavior

For `workerType: "ServiceWorker"` to allow me to create a service-worker

### Actual Behavior

Webpack throws an error and the code for workerType is not included in the installed module.

[code]

### Code

[code]

### How Do We Reproduce?

[2020-07-09 11:52] evilebottnawi commented on #250
It is not released yet

[2020-07-09 11:52] #250 closed

[2020-07-09 16:42] webpack-bot opened #251 "Cannot import wasm in web workers"
# Bug report

**What is the current behavior?**

Importing wasm in web workers throws an error.

**If the current behavior is a bug, please provide the steps to reproduce.**

Webpack configuration:

This is basically a merge of the worker + wasm examples.

[code]

index.js

[code]

worker.js
[code]

This leads to :

[code]

But the same wasm import works when put in index.js.

**What is the expect

[2020-07-09 18:19] Xdwlf commented on #250
Awesome. Thanks you for the update!

[2020-07-10 12:41] #208 closed

[2020-07-10 13:09] evilebottnawi commented on #169
You need setup babel-loader for new syntax, example above, I will update docs soon

[2020-07-10 13:09] #169 closed

[2020-07-10 13:10] evilebottnawi opened #253 "improve docs"
Documentation Is:

- [x] Missing
- [x] Needed
- [x] Confusing
- [x] Not Sure?

### Please Explain in Detail...

- babel-loader + worker-loader
- document all options and explain them
- fix examples
- fix typescript section
- async loading

### Your Proposal for Changes

[2020-07-10 13:12] evilebottnawi commented on #129
Update webpack to latest version, if the problem still occurs please open a new issue with reproducible test repo, sorry for delay, thanks for using webpack

[2020-07-10 13:12] #129 closed

[2020-07-10 13:13] evilebottnawi commented on #239
Close in favor https://github.com/webpack-contrib/worker-loader/issues/253

[2020-07-10 13:13] #239 closed

[2020-07-10 13:15] evilebottnawi commented on #221
Close in favor https://github.com/webpack-contrib/worker-loader/issues/253

[2020-07-10 13:15] #221 closed

[2020-07-10 15:07] evilebottnawi commented on #210
Close in favor https://github.com/webpack-contrib/worker-loader/issues/253, should be in README

[2020-07-10 15:07] #210 closed

[2020-07-10 17:39] evilebottnawi commented on #67
Done https://github.com/webpack-contrib/worker-loader/pull/255, you can set worker options, docs will be updated in the near future

[2020-07-10 17:39] #67 closed

[2020-07-10 17:43] evilebottnawi commented on #225
https://github.com/webpack-contrib/worker-loader/pull/255, you can set credentials vie options

[2020-07-10 17:46] evilebottnawi commented on #194
Something wrong with the configuration, feel free to post it here and I will be help you, closing now

[2020-07-10 17:46] #194 closed

[2020-07-10 17:49] evilebottnawi commented on #162
Done in master, now you can set worker options via the `worker` option, docs will be updated in the near future, sorry for delay

[2020-07-10 17:49] #162 closed

[2020-07-10 17:50] evilebottnawi commented on #135
Please open an issue in `@ngtools` repo

[2020-07-10 17:50] #135 closed

[2020-07-10 17:51] evilebottnawi commented on #145
Duplicate https://github.com/webpack-contrib/worker-loader/issues/45, I will search solution in near future

[2020-07-10 17:51] #145 closed

[2020-07-10 17:51] evilebottnawi commented on #107
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-07-10 17:51] #107 closed

[2020-07-10 17:53] evilebottnawi commented on #141
Please ask questions on stackoverflow, it is bug tracker

[2020-07-10 17:53] #141 closed

[2020-07-10 17:54] evilebottnawi commented on #144
Close in favor https://github.com/webpack-contrib/worker-loader/issues/251

[2020-07-10 17:54] #144 closed

[2020-07-10 17:56] evilebottnawi commented on #184
Close in favor https://github.com/webpack-contrib/worker-loader/issues/253, I will put example

[2020-07-10 17:56] #184 closed

[2020-07-10 17:59] evilebottnawi commented on #249
Duplicate https://github.com/webpack-contrib/worker-loader/issues/211

[2020-07-10 17:59] #249 closed

[2020-07-13 14:06] evilebottnawi commented on #211
You need to set `fallback: true`, I will improve this, it doesn't have sense when you use `fallback: false` together with `publicPath` or `name`

[2020-07-13 14:09] #211 closed

[2020-07-13 14:12] evilebottnawi commented on #110
Fixed in the master branch

[2020-07-13 14:12] #110 closed

[2020-07-13 14:14] evilebottnawi commented on #108
Close in favor https://github.com/webpack-contrib/worker-loader/issues/245

[2020-07-13 14:14] #108 closed

[2020-07-13 14:14] evilebottnawi commented on #245
Same problems for `inline`, I will look solution in near future

[2020-07-13 14:17] evilebottnawi commented on #132
Close in favor https://github.com/webpack-contrib/worker-loader/issues/70

[2020-07-13 14:17] #132 closed

[2020-07-13 14:20] evilebottnawi commented on #185
yes can achieve this using code `function loadWorker { return import('worker.js'),then(m => m).catch(e => { console.log(e); loadWorker(); })}`, you can improve this using based on logic of your app

You need to setup your web server for this

[2020-07-13 14:20] #185 closed

[2020-07-13 14:23] evilebottnawi commented on #190
Here two problems:
1. bad typescript documentation
2. compatibility with webpack-dev-server

So close in favor https://github.com/webpack-contrib/worker-loader/issues/253 and https://github.com/webpack-contrib/worker-loader/issues/174

[2020-07-13 14:23] #190 closed

[2020-07-13 14:24] evilebottnawi commented on #182
Sorry you don't provide enough information, I can't help, sorry

[2020-07-13 14:24] #182 closed

[2020-07-13 14:38] evilebottnawi commented on #214
You can implement this on app side, using `import('my.worker.js').then((m) => /* Logic */)`

[2020-07-13 14:38] #214 closed

[2020-07-13 14:48] evilebottnawi commented on #212
Fixed in the master, you don't need the `name` option when you set `fallback: false`, this makes no sense, I will improve error helping

[2020-07-13 14:48] #212 closed

[2020-07-13 14:53] evilebottnawi commented on #139
Answers above, we will improve typescript docs in README

[2020-07-13 14:53] #139 closed

[2020-07-13 14:57] evilebottnawi commented on #154
You need to setup CORS `https://domain.ru`, adding `Access-Control-Allow-Origin` header, here more information https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2020-07-13 14:57] #154 closed

[2020-07-13 15:02] evilebottnawi commented on #195
Something is on `vue-cli` side, sorry we can't fix it on our side, both answer is right, you need babel-loader to use latest syntax, you need to exclude, babel caching by default

[2020-07-13 15:02] #195 closed

[2020-07-13 15:05] evilebottnawi commented on #183
Sorry, I can't help, information is not enough, we have tests on  `puppeteer` and all works fine, maybe something on CRA side, I close this issue, but feel free to open a new issue with minimum reproducible test repo if you faced with issue again

[2020-07-13 15:05] #183 closed

[2020-07-13 15:07] evilebottnawi commented on #237
Close in favor https://github.com/webpack-contrib/worker-loader/issues/251

[2020-07-13 15:07] #237 closed

[2020-07-13 15:10] evilebottnawi commented on #226
You don't need worker URL, this loader creates `Worker` by itself, `Worker` and `ServiceWorker` and `SharedWorker` already support in the master, ETA is near future

[2020-07-13 15:10] #226 closed

[2020-07-13 15:12] evilebottnawi commented on #202
Close in favor https://github.com/webpack-contrib/worker-loader/issues/253, we need improve examples, I will do it in near future

[2020-07-13 15:12] #202 closed

[2020-07-13 15:14] evilebottnawi commented on #197
It was bug on `vue-cli` side, it is not respect options for loaders, should be fixed, if you faced with the issue again, feel free to open the new issue with minimum reproducible test repo, sorry for delay

[2020-07-13 15:14] #197 closed

[2020-07-13 15:18] evilebottnawi commented on #176
Here difference problem, they are were reported:
- problems with `globalObject`
- problems with compatibility with webpack-dev-server
- problems with losing context of `importScripts`
- bug on `react-app-rewired`
I closed issue, because they already reported and some of them are fixes, other fixes will be in near future

[2020-07-13 15:18] #176 closed

[2020-07-13 15:19] evilebottnawi commented on #181
You should not use `const parseLineWorker = new Worker();`, this loader do it for you. We need more examples for README, I already opened the problem

[2020-07-13 15:19] #181 closed

[2020-07-13 15:21] evilebottnawi commented on #189
Problem on CRA side and typescript, here good example https://github.com/nishio/tutorial-webworker-with-react/blob/master/README.md, sorry but we can something here on our side, sorry for delay

[2020-07-13 15:21] #189 closed

[2020-07-13 15:22] evilebottnawi commented on #173
Close in favor https://github.com/webpack-contrib/worker-loader/issues/245, source maps are broken we need fix it for all cases

[2020-07-13 15:22] #173 closed

[2020-07-13 16:03] evilebottnawi commented on #164
You should not create `new Worker()`, because loader do it for you, I will improve examples

[2020-07-13 16:03] #164 closed

[2020-07-13 17:32] #251 closed

[2020-07-14 14:15] evilebottnawi commented on #45
It is the limitation, webpack wrap module code, like:
[code]

It helps to not expose local variables to global object (windows, self, etc). You can solve this problems using:
[code]

For webpack@5, we respect the `output.iife` option, so you need to set `iife: false` and all works fine. But I recommend that you do not use this approach, because it is potentially unsafe.

[2020-07-14 14:15] #45 closed

[2020-07-14 14:57] evilebottnawi commented on #119
You need to open an issue in https://github.com/danethurber/webpack-manifest-plugin repo, the plugin should respect assets from child compilations, we can't fix it on our side, sorry for delay

[2020-07-14 14:57] #119 closed

[2020-07-14 15:24] evilebottnawi commented on #127
Can't reproduce the problem on the master branch, looks like it was fixed.

[2020-07-14 15:24] #127 closed

[2020-07-14 15:32] evilebottnawi commented on #158
Yes, there are a lot of limitations for extensions, this is exactly what it is, if want to use known domain you can use `permissions`, more information https://developer.chrome.com/extensions/xhr, otherwise please use `{ inline: true, fallback: false }`. Perhaps at the moment there are new features that allow to do this, but I can't find documentation about them. If you known how it can be done wi

[2020-07-14 15:32] #158 closed

[2020-07-14 18:23] evilebottnawi commented on #174
Fixed in the master, ETA is the end of week, big sorry for delay

[2020-07-14 18:23] #174 closed

[2020-07-16 17:03] nick4fake commented on #181
Well, then what should be used?

[2020-07-16 17:05] nick4fake commented on #181
Even typescript typing example uses class, not instance:

[code]

[2020-07-16 17:06] reda-alaoui commented on #242
No publication since. Could you publish please?

[2020-07-16 17:08] evilebottnawi commented on #181
Yes, sorry, my mistake, it is fixed in the master, will be great if you provide minimum reproducible test repo, I will add more tests to ensure we really fix your problem

[2020-07-16 17:16] evilebottnawi commented on #242
@reda-alaoui some additional problems, ETA is the end of week

[2020-07-17 12:08] jens-duttke opened #260 "After updating to 3.0.7: ERROR in The comment file conflicts with an existing asset, this may lead to code corruption, please use a different name"
After updating from 3.0.6 to 3.0.7 I get the following errors in the build process:

After downgrading to 3.0.6 without to change anything else, everything works fine, so the problem is something which has been changed in 3.0.7.

The mentioned files are the only two workers which I'm using in the project, all other files don't seems to have this problem.
For compile the workers code, I'm using the

[2020-07-17 12:19] evilebottnawi commented on #260
Workaround downgrade to `3.0.6` or disable extract comments

[2020-07-20 05:30] UziTech commented on #212
@evilebottnawi when can we expect a release with this fix?

[2020-07-20 11:04] evilebottnawi commented on #212
@UziTech ETA is the current week

[2020-07-22 15:17] planty commented on #250
Has this been released yet? Really interested in trying it out!

[2020-07-22 15:42] evilebottnawi commented on #250
Release is the next of current week, yes it will support SharedWorker

[2020-07-22 15:53] planty commented on #250
Great news, thank you.

[2020-07-26 10:26] CXuesong commented on #242
@reda-alaoui Before actual publish, I think installing the package from git directly can help
[code]

However, I'm blocked by the following runtime error when loading the web worker:
[code]

Seem there is still bug with current commit that prevents applying registered loaders to the worker script.

[2020-07-27 16:05] evilebottnawi commented on #260
Fixed https://github.com/webpack-contrib/terser-webpack-plugin/pull/279, It was easy to fix on `terser-webpack-side`

[2020-07-27 16:05] #260 closed

[2020-07-28 14:42] evilebottnawi commented on #116
Let's close in favor https://github.com/webpack/webpack/projects/5#card-10780341, it should be solved on webpack side, workaround https://github.com/GoogleChromeLabs/preload-webpack-plugin, it will be part of core for webpack@5, sorry for delay and inconvenience, we really have a lot of work and we try to do everything faster

[2020-07-28 14:42] #116 closed

[2020-07-28 14:44] evilebottnawi commented on #161
It was implemented, but incorrect, so now we have https://github.com/webpack-contrib/worker-loader/issues/199 (close in favor)

[2020-07-28 14:44] #161 closed

[2020-07-28 16:01] #95 closed

[2020-07-29 09:22] pigcan commented on #11
@ekulabuhov Could you release a new version?

[2020-07-29 12:10] evilebottnawi commented on #11
@pigcan This week

[2020-07-29 12:24] webpack-bot opened #266 "Circular dependency not working with worker-loader?"
I've got package A that depends on package B, which depends on package C (worker), which depends on package A.

I'm getting an error like this: http://trusktr.io:7777/ixujinuzij

---

This issue was moved from webpack/webpack#1564 by @evilebottnawi. Original issue was by @trusktr.

[2020-07-29 16:36] #199 closed

[2020-07-29 16:47] evilebottnawi commented on #163
Sorry for delay, yes, PR welcome, we can move logic from `worklet-loader` into `worker-loader`

[2020-07-30 02:27] pigcan commented on #11
Great! Thank you!

Evilebot Tnawi <notifications@github.com> 于2020年7月29日周三 下午8:11写道：

[2020-07-30 11:21] kosk commented on #250
@evilebottnawi, do you have a release date for this feature?

[2020-07-30 12:01] evilebottnawi commented on #245
Very strange, reproduced on Chrome, but works fine in Firefox

[2020-07-30 12:29] evilebottnawi commented on #250
@kosk Small delay, ETA is this week

[2020-07-30 12:54] evilebottnawi commented on #245
https://bugs.chromium.org/p/chromium/issues/detail?id=1111297

[2020-07-30 12:55] evilebottnawi commented on #245
Let's wait answer from chromium teams

[2020-08-01 12:15] #253 closed

[2020-08-03 10:01] jens-duttke opened #276 "After updating to 3.0.0 the base file names are not based on the source file name anymore"
Now, after the update to version 3.0.0 (and replacing `name` by `filename`), it uses the name of the "main"-chunk, instead of the name of by worker files:

`Search.worker.ts` results into `main.CuC84dZH.js`, `main.CuC84dZH.js.map` and `main.CuC84dZH.js.LICENSE.txt`.

`TypeDetection.worker.ts` results into `main.CsGA6GIM.js`, `main.CsGA6GIM.js.map` and `main.CsGA6GIM.js.LICENSE.txt`

Beside that, I

[2020-08-05 02:07] otakustay commented on #225
It seems `credentials` option does not address cors issues, worker doesn't support cors script no matter what `credentials` is.

[2020-08-05 10:39] evilebottnawi commented on #225
I can't understand the problem

What?

It is out of scope web worker supporting

[2020-08-05 10:54] otakustay commented on #225
When `publicPath` is set to an external domain like `http://cdn.my-app.com/assets/`, worker-loader generated worker script can fail to load, just as documented: https://github.com/webpack-contrib/worker-loader#cross-origin-policy

To address this, document suggests `inline` option but this increase bundle size impressively

There is a way to get rid of the CORS issue and having worker scripts in a

[2020-08-05 11:28] evilebottnawi commented on #225
I think we can do it, do you want to send a PR?

[2020-08-05 13:02] evilebottnawi commented on #276
Hm, yes, you are right, it is bug, non critical (becase you have `worker` suffix), but will be great to fix it

[2020-08-05 14:41] #276 closed

[2020-08-12 11:04] ksocha opened #281 "Issue with publicPath in v3"
- Operating System: MacOS
- Node Version: 12.16.1
- NPM Version: 6.13.4
- webpack Version: 4.44.1
- worker-loader Version: 3.0.1

### Expected Behavior

I would expect that setting publicPath in options would take precedence over `__webpack_public_path__` variable.
We use webpacker and setting a CDN path to serve our assets. However, worker must be served from same domain in order to work.

I had

[2020-08-12 11:41] evilebottnawi commented on #281
You need rewrite `__webpack_public_path__` in this case on fly, also you can use `publicPath` as `Function`

[2020-08-12 11:41] evilebottnawi commented on #281
Previous implementation was wrong and doesn't work with `async` chunks and global publicPath option

[2020-08-12 11:43] ksocha commented on #281
Using `publicPath` as `Function` makes no difference - it's still not working for my use case. Rewriting `__webpack_public_path__` is also not an option, as it would probably break other loaders?

[2020-08-12 11:51] evilebottnawi commented on #281
Also you do not fill out the issue template and without reproducible test repo or steps, I can't say you the best solution

[2020-08-14 11:16] evilebottnawi commented on #281
@clinyong Can you provide reproducible test repo? it is tested and works fine

[2020-08-15 02:37] clinyong commented on #281
@evilebottnawi Yep, <https://github.com/clinyong/worker-loader-cross-origin>

[2020-08-15 09:13] Tianruo commented on #281
the publicPath option does't work at all, it always use out.publicPath to require my js, if it's the original purpose, I have to go back to v2

[2020-08-17 15:57] evilebottnawi commented on #281
@clinyong I think here we have misleading docs, in fact we have two `publicPath` here:
1. `publicPath` for non worker chunks (including async chunks) - `main.js` (`output.publicPath`)
2. `publicPath` for worker chunks (including async chunks) - `echo.worker.worker.js` (`worker-loader.options.publicPath`)

Why? Because there are 2 cases:
- You want to put worker initial chunk (`echo.worker.worker.j

[2020-08-17 15:59] evilebottnawi commented on #281
In this case you need override public path on fly:

**index.js**

[code]

**rewritePublicPath.js**

[code]

[2020-08-18 13:53] lianghx-319 opened #282 "Use inline options in typescript"
## For typescript
I should declare my own module like this.
[code]

## For inline worker
I should set the inline option, but if module declare start with `worker-loader!`, it like to override my webpack config with no options after `worker-loader`

## The result
In typescript, inline option in webpack config not work, I mush set inline option on the path after loader

[2020-08-18 13:58] evilebottnawi commented on #282
typescript declaration doesn;t change webpack options, you can pass inline options using query string `!!webpack-loader?inline=fallback!./my.worker.js`

[2020-08-18 13:58] #282 closed

[2020-08-19 01:37] lianghx-319 commented on #282
because I declared `worker-loader!*`, so TS can find WebpackWorker only if I import like `import Worker from 'worker-loader!myWorker.ts'`, and When I import like that, webpack config not work. So every time I want to change the option, I have to modify the declare and the import path.

[2020-08-19 11:14] evilebottnawi commented on #282
I don't understand you, please create simple reproducible test repo and describe problems in readme

[2020-08-20 17:44] evilebottnawi commented on #225
Let's close in favor https://github.com/webpack-contrib/worker-loader/issues/281, I think solution here https://benohead.com/blog/2017/12/06/cross-domain-cross-browser-web-workers/ is good

[2020-08-20 17:44] #225 closed

[2020-08-21 14:35] PinkaminaDianePie opened #283 "3.x doesn't work with multiple workers"
When I try to switch to 3.x my app doesn't work anymore. I have 2 different workers, and sometimes only one of them works, sometimes another one, but I can't manage both of them to work. Since one of them always works, I assume that my configuration from 2.x is still valid (otherwise none of them would be loaded).

[2020-08-21 14:58] #283 closed, assigned to nobody

[2020-08-25 23:48] Pyrolistical commented on #96
yeah also ran into this. why does this loader assume publicPath has a trailing slash

[2020-09-10 19:06] schl3ck opened #285 "Syntax error: unexpected token: ':' when setting option inline to no-fallback"
Hi!
This issue was already reported at webpack https://github.com/webpack/webpack/issues/11417 but it looks more like an issue with this loader.

- Operating System: Windows 10 Pro, Version 2004
- Node Version: 14.5.0
- NPM Version: 6.14.5
- webpack Version: 4.44.1
- worker-loader Version: 3.0.2

### Expected Behavior
To run the worker file without problems.

### Actual Behavior
I get `Syntax erro

[2020-09-10 19:23] evilebottnawi commented on #285
Feel free to send PR with fix

[2020-09-10 20:46] wavebeem commented on #285
I wanted to add from my issue that this only happens with certain `devtool` options:

- eval-source-map
- eval-cheap-source-map
- eval-nosources-source-map
- eval-cheap-module-source-map
- eval-nosources-cheap-source-map
- eval-nosources-cheap-module-source-map

[2020-09-10 20:51] schl3ck commented on #285
I don't know how vue does it, but upon running `vue inspect` I don't see a devtool option being set. Maybe it is set indirectly through another option.

[2020-09-10 21:48] schl3ck commented on #285
So I dug in and found the cause. My repro doesn't reproduce it because I've forgotten to also use `babel-loader`.

That aside, the bug is in the regex:
https://github.com/webpack-contrib/worker-loader/blob/17f81c121e53a45afef52bf05f97c2bbea536c61/src/utils.js#L90
Specifically the part `([^\s'"]*)`. This matches until a whitespace character or quote is found. The thing is that the script is embedde

[2020-09-11 10:34] zquancai commented on #94
is it support that now?

[2020-09-11 10:48] evilebottnawi commented on #94
Yes

[2020-09-12 08:09] zquancai commented on #94
it looks well~~but the `publicPath` option doesn't work. equal default `webpackConfig.output.publicPath` value.
i use worker-loader@3.0.2

i use inlined loader
[code]

or webpack config:
[code]

both of them can't find `/test/` on the result of the compiled file.

[2020-09-12 12:59] evilebottnawi commented on #94
[code]

Don't touch publichPath.

You are confusing file location and publicPath. Webpack@5 will have `publicPath: auto` and we will recommend do not touch publicPath.

[2020-09-16 08:15] Obi-Dann commented on #89
I am having the issue with externals while using worker-loader in electron app. In electron, workers can have node integration which allows to just `require` a node module, for example some node specific libraries that can/should not be bundled. Because worker-loader does not support externals, I can't get it working as it should in Electron.

I think it's possible to extend worker-loader to detec

[2020-09-16 10:58] evilebottnawi commented on #89
@Obi-Dann `worker-loader` only for `web`, webpack@5 support workers for web/node/etc out of box, try to use webpack@5

[2020-09-17 05:25] zquancai commented on #94
ok, thanks for your reply.

[2020-09-20 22:07] EgorCloud opened #288 "worker-loader does not work with "worker_threads""
- Operating System: Windows 10
- Node Version: 12.16.1
- NPM Version: 6.14.7
- webpack Version: 4.44.2
- worker-loader Version: 3.0.2

### Expected Behavior
normal wrapping of worker name with require.resolve ()

### Actual Behavior
When I use worker-loader with worker_threads
Webpack misbehaves with require.resolve
[image](https://prnt.sc/ukqpgq)
[error](https://prnt.sc/ukqqt4)
I cannot further d

[2020-09-21 12:34] evilebottnawi commented on #288
`worker-loader` doesn't work with `Node.js` workers, and never work, it is for browser

[2020-09-21 12:37] EgorCloud commented on #288
so, can you tell me which plugin or loader will help?

[2020-09-21 12:41] evilebottnawi commented on #288
@EgorCloud webpack@5 will help, workers supported out of box

[2020-09-21 12:42] #288 closed

[2020-09-22 10:21] #285 closed

[2020-09-22 13:06] yar2001 commented on #282
Meet this problem too. We are using the typescript example from the doc, while if we follow the procedure, the options in webpack seem invalid. For instance, I want inline option but it didn't work as expected.
The webpack config is as follow.
[code]
It will be so nice if you can give the doc more details about Typescript development? Thank a lot!

[2020-09-29 17:15] mpk opened #292 "Inline workers does not work in Edge Legacy anymore"
- Operating System: Windows 10
- Node Version: 12.14.0
- NPM Version: 6.13.4
- webpack Version: 4.44.2
- worker-loader Version: 3.0.3

### Expected Behavior

Inline worker should execute in Edge Legacy

### Actual Behavior

Inline worker does not execute in Edge Legacy

### Code

[code]

[code]

[code]

### How Do We Reproduce?
The code should write "Log from worker" into the console. However, it

[2020-09-29 17:32] evilebottnawi commented on #292
Feel free to send a fix:
[code]

Should be easy

[2020-09-29 17:53] mpk commented on #292
No, Edge Legacy actually supports URL.revokeObjectURL, but it does not like when the Blob URL is revoked "too quickly".

[2020-10-01 07:44] miginmrs commented on #245
@evilebottnawi, shouldn't the devtoolNamespace be different for the new entry, to prevent collusion for browsers that keep a single source map for all threads (like chrome) ?

[2020-10-02 01:26] Rush commented on #292
inline workers stopped working for me after upgrading to 3.x and changing `inline: true` to `inline: 'no-fallback'`

![image](https://user-images.githubusercontent.com/115926/94878882-51a47c00-0424-11eb-9ddb-d883b6e49e3c.png)

Investigating network shows a script with contents:
[code]

[2020-10-02 10:27] evilebottnawi commented on #292
@mpk Can you create reproducible test repo?

[2020-10-02 10:27] evilebottnawi commented on #292
@Rush It is not you problem, please provide reproducible test repo, I will help

[2020-10-02 14:05] mpk commented on #292
@evilebottnawi Sure, here you go: https://github.com/mpk/worker-loader-edge

[2020-10-07 13:14] manasb-uoe commented on #110
So I seem to be stuck on the same problem - what was the fix in the end?

[2020-10-07 13:18] evilebottnawi commented on #110
@manasb-uoe update `worker-loader` to the latest version

[2020-10-15 16:36] Knagis opened #295 "worker-loader picks up webpack5 from parent folder, not webpack4 from peer"
- Operating System: Win10
- Node Version: 12.13
- NPM Version:
- webpack Version: 5.1.1 + 4.44.2
- worker-loader Version: 3.0.3

### Expected Behavior

worker-loader from subfolder loads webpack 4 (the peer dependency and the webpack that is loading the loader itself.

### Actual Behavior

worker-loader loads webpack 5 version and crashes.

[code]

### Code

[code]
### How Do We Reproduce?

Instal

[2020-10-15 16:41] evilebottnawi commented on #295
You need to setup your monorepo in right way, disable hoist for webpack, sorry, we can't fix it on our side

[2020-10-15 16:41] #295 closed

[2020-10-15 17:06] Knagis commented on #295
how about this?

[code]

or...

[code]

[2020-10-15 17:11] evilebottnawi commented on #295
Still not solve, because `require` in your case always will return `5` and load old version of plugins

[2020-10-15 17:11] evilebottnawi commented on #295
But I think we can solve it for webpack@5.1, but it will be breaking change

[2020-10-15 17:12] evilebottnawi commented on #295
webpack@5.1 return `compiler.webpack` (self export), so we can use it, but in this case you will have two loaders with different versions, expected?

[2020-10-15 17:23] Knagis commented on #295
`require("webpack")` would load the closest webpack, which is the peer dependency.. the key is to require something of webpack that exists in both v4 and v5 so that node doesn't try to skip the peer dependency due to missing file.

`require("webpack/package.json").version` would also load the peer dependency - so nested loader would load webpack 4 while the root loader would load webpack 5.

---

[2020-10-15 17:30] Knagis commented on #295
btw, I suspect this issue also might be triggered if one installs webpack 5 globally but has a package that depends on webpack 4 - the loader would pick up webpack 5 from global node_modules.

[2020-10-15 17:33] evilebottnawi commented on #295
Yes, so ideal solution do not hoist webpack in this case, just nnote - hoisting babel/ts/other packages will lead to the same problem

[2020-10-15 17:35] evilebottnawi commented on #295
We starting to rewrite our code on using `compiler.webpack`, but I think we can avoid it here, why? Because this package will be deprecated in near future, webpack@5 supports web worker out of box, only `inline` is not implemented

[2020-10-15 17:39] evilebottnawi commented on #295
https://github.com/webpack/webpack/issues/6472

[2020-10-15 17:40] evilebottnawi commented on #295
I will update docs here for migration after `inline` implementation

[2020-10-15 17:49] Knagis commented on #295
how about the approach in the MR? It should not create any change for any normal typical usecase and fix this hacky hoisted case

[2020-10-18 19:07] akosyakov opened #297 "docs don't explain how to register ServiceWorker"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

One has to call `navigator.serviceWorker.register` at some point with the specific script URL. Is it done by this loader automatically? What import actually does? Clarification would be helpful.

### Your Proposal for Changes

[2020-10-19 11:55] evilebottnawi commented on #297
Sorry it is out of scope loader, please use mdn we just return web worker

[2020-10-19 11:55] #297 closed

[2020-11-24 14:48] mwanago commented on #281
@evilebottnawi This would be awesome. Any news on the fix for this?

[2020-11-24 14:55] evilebottnawi commented on #281
You can find PR above your comment

[2020-11-25 12:17] mwanago commented on #266
I agree, I had the same issue. I worked around it by removing circular dependencies in my code.

[2020-12-02 12:39] alexander-akait commented on #292
@mpk to be honestly I can't reproduce :confused:

[2020-12-07 09:01] lwyj123 commented on #154
Cant' load cross origin script too. even add `CORS` headers

[2020-12-07 20:35] KallynGowdy commented on #292
I'm having a similar issue with Chrome (`87.0.4280.88`) and Edgium (`87.0.664.55`) on worker-loader `v3.0.6` with webpack `v5.10.0`.
It is worth noting that the worker loads fine on Firefox.

Definitely seems like a race condition because if I put a breakpoint at [`inline.js line 31`](https://github.com/webpack-contrib/worker-loader/blob/master/src/runtime/inline.js#L31) and continue after half a

[2020-12-08 14:21] yvele opened #301 "Does this loader supports Node.js Worker threads?"
Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

I'm not sure but I think this loaded is not compatible with [Node.js Worker threads](https://nodejs.org/api/worker_threads.html).

I'm using Webpack to pack an AWS Lambda bundle that runs on Node.js and I came across this project.. And it looks like this project only handles [Web Workers

[2020-12-08 14:25] alexander-akait commented on #301
No, PR welcome to docs

[2020-12-08 14:50] yvele commented on #301
"No" means that this project is not intended to handle Node.js Worker threads? Right? 🤔

[2020-12-09 16:43] tchakabam commented on #301
@yvele I am using this with NodeJS target, it is absolutely no problem.

It works just the same as for web platform workers. The APIs are compatible, even if NodeJS provides other tools on top,but that shouldnt be concern of this loader here.

What exactly is the problem you face? I can provide my config as example in case needed.

[2020-12-09 16:45] tchakabam commented on #301
Should be needless to say this requires obviously to shim the global namespace like so first of all:

[code]

This is TypeScript, and the symbol name `NodeJSWorkerThreadsPathResolveWrap` is completely arbitrary choice.

[2020-12-09 16:46] alexander-akait commented on #301
Just note - `webpack@5` support workers (web workers and Node.js worker threads) out of box, you don't need this loader, it was deprecated someday (need improve docs)

/cc @chenxsan Do we have examples/guide for web workers and etc stuff?

[2020-12-09 16:48] tchakabam commented on #301
Really? Then what is this project still about? It should indeed be shown first thing in readme I guess :)

[2020-12-09 17:02] alexander-akait commented on #301
Yep

For migration purpose, also some features like `inline` (`Blob`) is not implemented

I want to do it after improving docs on site with link

[2020-12-09 22:16] tchakabam commented on #301
if the webpack v5 built-in thing doesnt support inline, then it is not that useful :) and this plugin here is still not replaceable by anything else indeed for me.

[2020-12-10 04:24] chenxsan commented on #301
I'm afraid no.

[2020-12-10 11:34] alexander-akait commented on #301
@tchakabam It is very easy to implement, anyway why you need inline?

@chenxsan Do you need help?

[2020-12-10 13:20] chenxsan commented on #301
@alexander-akait I've created an issue to track it.

[2020-12-11 23:58] crutch12 commented on #127
Hi @alexander-akait
I've got the same problem after update to worker-loader@3.0.6 (previous @2.0.0 worked fine)

[2020-12-13 05:43] slutske22 commented on #110
I'm wondering about this myself.  How to tell worker-loader to reference the worker files relative to the file that says `new Worker('path_should_be_relative_to_the_file_this_line_is_in')`.  I feel like worker-loader needs a `relativePath` option, which would be a boolean that tells worker loader to maintain the relative relationship between worker script and the place where the worker script is i

[2020-12-14 12:21] alexander-akait commented on #110
@slutske22 webpack@5 supports syntax `new Worker(new URL('./path/to/worker.js', import.meta.url));`

[2020-12-14 14:28] tchakabam commented on #301
I think it is just nicer to ship one single file, but that might be an outdated point of view :)

[2020-12-24 14:25] ctf0 opened #305 ""chunkFilename.replace is not a function" on webpack 5"
- Operating System: OSX 10.15.7
- Node Version: 15.4.0
- NPM Version: 6.14.9
- webpack Version: 5.11.0
- worker-loader Version: 3.0.7

### Expected Behavior

should work same as it did with wp v4

### Actual Behavior

on v5 we are getting this error

[code]

### Code

using laravel-mix

[code]

- audio.js

[code]

- somewhere_else.js

[code]

[2020-12-24 14:59] alexander-akait commented on #305
You don't need this loader with webpack@5

[2020-12-24 15:01] alexander-akait commented on #163
Supported by webpack@5 by default https://github.com/webpack/webpack/issues/11543#issuecomment-745529334

[2020-12-24 15:01] #163 closed

[2020-12-24 15:02] ctf0 commented on #305
@alexander-akait can u plz elaborate ?

[2020-12-24 15:03] alexander-akait commented on #305
https://github.com/webpack/webpack/tree/master/examples/worker, example how use web workers without worker-loader for webpack@5

[2020-12-24 15:07] alexander-akait commented on #301
Example from source https://github.com/webpack/webpack/tree/master/examples/worker

[2020-12-25 03:48] ctf0 commented on #305
using the example, the error are gone but so does the functionality aswell, the above code no longer works.

here how the above look now

- audio.js

[code]

- somewhere_else.js

[code]

[2020-12-25 05:15] ctf0 commented on #305
finally got it working, we should use `new Worker` instead.

thanks alot for the example & the headsup, merry Christmas btw 🎊

[2020-12-25 05:15] #305 closed

[2021-01-22 03:50] rcrowell commented on #266
I have also run into this issue recently.  In my case, I am trying to write 2 versions of a library (one has the main thread run `expensive()` directly, and the other has main posting `runExpensive` messages to a web worker).

I only managed to get around this by writing 2 separate files **main.js** (`expensive()` runs in-place) and **worker.js** (`runExpensive` message is posted to a webworker),

[2021-01-22 10:58] alexander-akait commented on #266
@rcrowell What is version of webpack?

[2021-01-29 22:57] Danik-Barinshtein commented on #110
@alexander-akait

Hey guys - just trying to follow this thread as I am in a similar situation.

If I use inline it works, however the issue is that I am trying to implement a SharedWorker - and if I use inline they treat it as a brand new script and dont maintain the Shared functionality.

As for using webpack@5 - that's not an option currently to upgrade.

Seeing if there are any suggestions?

[2021-02-05 10:31] Gorizory commented on #181
@alexander-akait encountered similar problem.
Webpack creates 2 files:
`worker.bundle.worker.js` - i guess includes worker-loader code.
`worker.bundle.worker.worker.js` - actual worker code.

App fetches only `worker.bundle.worker.js` during runtime.
Here's [test repo](https://github.com/Gorizory/sandbox) which reproduces this.

[2021-02-09 22:06] MatthewSteel opened #306 "Inline workers not working _in_ a worker"
### Expected Behavior / Situation

I have a library that creates an "inline" worker. Normally the library is used from the `Window` (main browser thread) scope, and things work fine, but now I want to use it from a worker scope. I'd expect the worker that uses the library to create a second "child" inline worker.

### Actual Behavior / Situation

An error gets thrown, no child worker gets created.

[2021-02-09 22:10] alexander-akait commented on #306
What is webpack version?

[2021-02-09 23:04] MatthewSteel commented on #306
The library that creates an inline-worker was built with webpack version 4.41.2 when I saw the issue.

Could building it with a different version help? (Fixing my issue by upgrading deps, or by providing some build-time configuration to make those `window` references resolve to something else would definitely be fine for me.)

[2021-02-09 23:07] alexander-akait commented on #306
Do you use `webpack`? Or you try to import library that will be bundled by webpack?

[2021-02-09 23:12] MatthewSteel commented on #306
My application imports the library bundled by webpack from inside a worker. The library is built by running `webpack`. The library uses `worker-loader`, and it creates inline workers.

I can change either or both of them. I would like to continue using inline workers inside the library if possible.

[2021-02-09 23:14] alexander-akait commented on #306
Yep, let's fix it, just notice - webpack v5 does not require worker-loader

[2021-02-09 23:19] MatthewSteel commented on #306
Ah, maybe I should try to build my library with webpack 5, but I think it'd be a bigger job :-).

Should I make a find/replace PR, or would you prefer to fix and release?

[2021-02-09 23:26] alexander-akait commented on #306
Feel free to send a fix and I will publish patch release

[2021-02-09 23:27] alexander-akait commented on #306
Just do `(self || window)`

[2021-02-10 00:00] MatthewSteel commented on #306
Oof, I'm not great at using github -- I ran into a push permission error. I put a patch in a [gist](https://gist.github.com/MatthewSteel/0987d1fa11d0cec3360c53847d916d54) you can apply with `git am <patch-file>` if it helps.

[2021-02-10 10:45] alexander-akait commented on #306
@MatthewSteel You need fork this repo send a PR to fork, when return to this repo and go to `PR` and send a PR

[2021-02-10 18:55] MatthewSteel commented on #306
(Let me know if I've done this wrong. Can make whatever changes needed. Looks like code coverage checks are failing, which I guess could be fixed by inlining the expression everywhere? Dunno.)

[2021-02-11 10:52] Gorizory commented on #181
Finally fixed it.
Should have deleted loader from `webpack.config.js`, [part of README](https://github.com/webpack-contrib/worker-loader#integrating-with-typescript) with TypeScript integration didn't tell it.

[2021-02-11 12:17] #306 closed

[2021-02-11 17:41] MatthewSteel commented on #306
Thanks for shepherding this through!

[2021-02-11 19:00] MatthewSteel commented on #306
Oh, one more question: This change fixed our issue at an older version, but we have a separate but related issue while upgrading to the latest version: I think [the changed externals behaviour](https://github.com/webpack-contrib/worker-loader/pull/264/files) might have caused problems for inline workers. I _think_ the blob URLs need to include all of their transitive dependencies.

I'm not 100% su

[2021-02-12 10:27] alexander-akait commented on #306
Can you clarify?

[2021-02-12 16:55] MatthewSteel commented on #306
My library uses the "externals" webpack configuration so its package deps aren't included in the built bundle -- they're provided by my application.

For non-inline workers, I guess the application's webpack process "links" the generated .worker.js files to their dependencies, but for inline workers I think the linking process doesn't work -- the application's webpack doesn't know how to include t

[2021-02-12 17:01] alexander-akait commented on #306
Hard to understand, maybe you can provide simple reproducible test repo, so I will undestand what do you want achieve

[2021-02-19 01:01] adambyer opened #309 "Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_1___default.a is not a constructor"
- Operating System: macOS Catalina 10.15.7
- Node Version: v10.13.0
- NPM Version: 6.14.9
- webpack Version: 4.46.0
- worker-loader Version: 3.0.8

### Expected Behavior

Should get no errors and publicPath should work.

### Actual Behavior

If I use webpack I get the following error when instantiating WORKER below... `Uncaught TypeError: _dist_workers_worker_js__WEBPACK_IMPORTED_MODULE_1___defaul

[2021-02-19 11:41] alexander-akait commented on #309
Unfortunately it is limitation https://github.com/webpack-contrib/worker-loader#cross-origin-policy, webpack v5 doesn't have this problem

[2021-02-19 18:31] adambyer commented on #309
Thanks. The documentation you linked to is what I am trying to follow to get around the cross-origin issue. I've tried both recommended workarounds with no luck. Are you saying those workarounds require webpack v5?

[2021-02-20 12:50] alexander-akait commented on #309
@adambyer Can you provide simple reproducible test repo?

[2021-02-22 03:57] ArvinTung commented on #229
@light0x00 how did you solve this ? I meet the same problem in web worker too, both in worker-loader and workerize-loader

[2021-02-22 21:39] afuggini commented on #309
It seems related to the fact that your worker.js file is not exporting anything, but then you are importing it. I am having a similar issue when following the README examples.

[2021-03-02 16:46] RaphaelRoyerRivard commented on #181
@Gorizory I removed the `{ test: /\.worker\.ts$/, loader: "worker-loader" },` line from `webpack.config.js` and the actual worker code was still not loaded. I can see the `inference.worker.worker.js` and `inference.worker.ts` files in the Sources section of the Chrome console, but none of them contains the actual worker code.

[2021-03-09 09:11] fiftin commented on #154
Same issue. I have all required CORS headers but got this error.

[2021-03-11 17:45] Shravan-Joopally commented on #292
I could reproduce this issue consistently on IE 11. Definitely revoking the object url immediately is issue. If I tried below code its working fine.

[code]

[2021-03-11 17:48] alexander-akait commented on #292
Can you check `revokeObjectURL` is exist?

[2021-03-11 17:49] Shravan-Joopally commented on #292
yes its there

[2021-03-11 17:50] alexander-akait commented on #292
Weird, it should work, no errors?

[2021-03-11 17:50] Shravan-Joopally commented on #292
yeah, no errors

[2021-03-11 17:51] alexander-akait commented on #292
Looks bug in browser...

[2021-03-11 23:21] lawrence-witt commented on #292
I'm also running into this issue with inline workers in IE11. Changing the URL revocation in `inline.js` to the following fixes it in my use case:

`setTimeout(function() { URL.revokeObjectURL(objectURL) });`

[2021-03-12 12:09] alexander-akait commented on #292
Very very very weird, somebody can provide versions and steps to reproduce, I am not against to fix it using `setTimeout`, but I want to investigate it

[2021-03-24 08:28] chemiakinav opened #310 "Worker-loader with inline option produce cjs/loader error on build"
- Operating System: Mac
- Node Version: 15.3.0
- NPM Version: 6.14.8
- webpack Version: 4.44.2
- worker-loader Version: 3.0.8

### Expected Behavior

Correct webpack build and work when I use worker-loader with the inline option

### Actual Behavior

I've got error:

<img width="913" alt="Screenshot 2021-03-24 at 11 00 04" src="https://user-images.githubusercontent.com/74294894/112274945-1aef4600-

[2021-03-29 02:39] maccman opened #311 "Cannot find module 'webpack/lib/SingleEntryPlugin'"
Looks like worker-loader has broken on the latest next.js/webpack.

- Operating System: osx m1
- Node Version: v12
- NPM Version: 6.14
- webpack Version:
- worker-loader Version: 3.0.8

### Expected Behavior

Next.js app builds

### Actual Behavior

[code]

### Code

[code]

[code]

### How Do We Reproduce?

[2021-03-29 10:50] alexander-akait commented on #311
You have multiple version of webpack, run `npm ls webpack`, also you don't need this loader for webpack v5

[2021-03-29 21:14] maccman commented on #311
Sorry - just figured that out. Do you think it's worth putting a message at the top of the readme saying webpack now supports this natively?

[2021-03-29 21:14] #311 closed

[2021-03-31 10:44] JannikGM opened #312 "Allow per-instance or per-worker-code options (such as name or constructor type) without explicit webpack rules"
*(I'm still new to web-development and webpack, so please inform me if any of the following is already possible somehow!)*

- Operating System: macOS 11.2.3
- Node Version: v10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.41.6
- worker-loader Version: 3.0.8

### Expected Behavior / Situation

**1. Using arguments in constructor of generated Worker (Ideal solution):**

[code]

or (TypeScript-ish)

[2021-03-31 11:28] alexander-akait commented on #311
@maccman Yep, we need improve `blob` supporting (i.e. `inline`) on webpack side and we improve readmap

[2021-04-03 23:00] tranvansang commented on #301
I have added node's worker_threads support in this PR https://github.com/webpack-contrib/worker-loader/pull/313.

I was able to build and run locally, but haven't added any test case to the PR.

Comments and collaboration is welcome.

[2021-04-05 12:06] alexander-akait commented on #301
@tranvansang What is webpack version? webpack v5 supported worker (browser/node) out of box

[2021-04-05 13:40] tranvansang commented on #301
@alexander-akait

I am using the quite new one `^5.28.0`.

I gave it a try but couldn't succeed with webpack 5 natively.

So I modify the loader to first make things work in my project.

As a note that in my project, the worker using typescript and shares several module with the main thread.
And in the compiler config's public path is **not** the absolute path in the file system. I have to set pub

[2021-04-05 13:42] alexander-akait commented on #301
Should work

This loader doesn't support `worker_threads` and will not work in right way even with your PR

[2021-04-05 13:46] tranvansang commented on #301
In the branch that I customized for my project.

https://github.com/webpack-contrib/worker-loader/compare/master...tranvansang:worker_threads

It works out of the box, and I have already released it for my use.

Thanks for the answer. If webpack means to support it. I definitely will make a try.

[2021-04-05 13:48] alexander-akait commented on #301
code splitting will not work, also caching can be broken

[2021-04-05 14:20] tranvansang commented on #301
So, now I remembered how I gave up with native webpack support.

In my project, I set public path to the same value with the frontend config. For example: in production build, publicPath will be `https://cdn.mywebsite.com/bundles`.

While with the `new URL`, and `import.meta.url`, my assumption is that `publicPath` must be the file system path. Is this correct?

Please share me anything if you kno

[2021-04-05 14:22] alexander-akait commented on #301
Can you share your problem (simple example)? Hard to say how better to solve for you without example(s)

[2021-04-06 01:09] tranvansang commented on #301
the migration/usage of webpack 5 was quite straightforward. I was able to use worker thread natively without the loader.

The only thing I had to do is to leave the `publicPath` config empty (which cause me to manually set publicPath options in `file-loader` loader).

Now, I have another problem that jest doesn't work. Previously, I wrote my own transformer to fake Worker class and it ran perfectl

[2021-04-06 11:17] alexander-akait commented on #301
No need to do it, please prefer to use `auto`

You need plugin for this

[2021-04-10 12:25] cmaster11 commented on #229
@light0x00 I'm finding the same issue :O What did you do to solve it??

![wisdom_of_the_ancients](https://user-images.githubusercontent.com/3482407/114269631-da722500-9a10-11eb-8f7a-f5a1a88319c3.png)

[2021-04-10 13:00] alexander-akait commented on #229
@cmaster11 Can you create reproducible test repo?

[2021-04-10 13:14] cmaster11 commented on #229
@alexander-akait sadly not, the project is quite big, and as soon as worker loader is added, the error happens. But if I find any fix, I'll let you know.

[2021-04-10 13:15] alexander-akait commented on #229
@cmaster11 What is webpack version?

[2021-04-10 13:20] cmaster11 commented on #229
@alexander-akait `4.41.6`

[2021-04-10 13:22] alexander-akait commented on #229
@cmaster11 maybe you apply worker-loader twicy, anyway I recommend to update webpack to v5 and remove this loader, because now we support it out of box

[2021-04-10 13:23] cmaster11 commented on #229
@alexander-akait thanks, will try :)

[2021-04-16 10:00] sanderg93 opened #314 "build error: chunkFilename.replace is not a function at getDefaultChunkFilename"
- Operating System: Ubuntu 20.04
- Node Version: v14.16.1
- NPM Version: 7.9.0
- webpack Version: 5.30.0
- worker-loader Version: v3.0.8

### Expected Behavior

PdfjsLib library uses worker-loader to load pdf worker.

Expecting for webpack to build just fine.

### Actual Behavior
Building gives the following error:

ERROR in ./node_modules/pdfjs-dist/build/pdf.worker.js (./node_modules/worker-load

[2021-04-16 10:02] sanderg93 commented on #314
npm install pdfjs-dist@2.7.570 is used in this example

[2021-04-16 11:29] alexander-akait commented on #314
You don't need this loader for webpack v5, please look at this https://webpack.js.org/guides/web-workers/

[2021-04-16 20:45] kalwalt commented on #282
@mikechabot i followed your suggestions and worked perfectly, if someone have the same issue take a look at this https://github.com/webarkit/ARnft/pull/167#issuecomment-821552693

[2021-04-20 10:18] edenhermelin commented on #245
@alexander-akait any updates on this issue?

[2021-04-20 11:12] alexander-akait commented on #245
@edenhermelin What is webpack version?

[2021-04-20 13:44] edenhermelin commented on #245
@alexander-akait
[code]

[2021-04-20 14:02] alexander-akait commented on #245
Moved to `Hotlist`, so should be fixed in near future (hope)

[2021-04-20 14:06] edenhermelin commented on #245
@alexander-akait thanks for the quick reply! unfortunately Im using Electron so it's not possible for me to try that in electron 😞

[2021-04-20 14:12] alexander-akait commented on #245
@edenhermelin Maybe make sense to migrate on webpack v5 and avoid using this loader due `new Worker(new URL('./worker.js'), import.meta.url)`

[2021-04-20 20:06] edenhermelin commented on #245
Migration is quite tricky as the vue-electron-builder plugin doesn't support it yet. I opened another issue for the chromium team, hope it'll help too.

[2021-04-22 13:39] AdamRamberg commented on #314
I've got the exact same issue.

@alexander-akait when using that approach all my jest tests that are importing the module that uses that syntax explodes. It's due to [this issue](https://github.com/facebook/jest/issues/9213), which seems to be unfixable atm.

[2021-04-22 13:50] alexander-akait commented on #314
Let's open an issue in jest, because it is valid ESM

[2021-04-22 14:14] AdamRamberg commented on #314
There is already a long-lived issue open that aims to solve this problem [here](https://github.com/facebook/jest/issues/4842). Haven't been diving into the specifics too much, but from my understanding this is not a problem that is easily fixed.

Just noticed that it seems to be fixed in jest 27 though. See [this](https://github.com/facebook/jest/issues/4842#issuecomment-824712599) comment.

[2021-05-07 20:47] stoplion commented on #282
Docs on how to use `worker-loader` with Typescript / Webpack configs (no inline) would be useful. Just a wild thought...

[2021-05-07 21:00] stoplion opened #315 "Document usage with Typescript / Webpack config style"
Documentation Is:

- [x ] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
Please add documentation on how to use this lib with Typescript that uses the config style, NOT the inline imports. Most tutorials I've seen have moved on from the inline imports style. It isn't clear how to use this lib with Typescript / config style. Thanks!

### Your Proposal for Chan

[2021-05-07 21:35] kalwalt commented on #282
i agree with you it will save so much time!

[2021-05-10 00:24] elasim commented on #292
Is there any chance to merge the patch about setTimeout on above or other plan for this issue?

[2021-05-10 13:15] alexander-akait commented on #282
Feel free to send a fix in our docs to help our developers

[2021-05-10 13:16] alexander-akait commented on #315
What do you mean? Please clarify

[2021-05-10 13:16] alexander-akait commented on #315
What is missing here https://github.com/webpack-contrib/worker-loader#integrating-with-typescript?

[2021-05-10 13:17] alexander-akait commented on #292
@elasim Can you provide screenshot/etc of the problem?

[2021-05-10 13:37] liuliangsir commented on #315
How to resolve the error?

![image](https://user-images.githubusercontent.com/8049878/117667646-a8064400-b1d7-11eb-9468-2314ae39225e.png)